<!-- Question group -->
<div class="question-group-outer sbc-question-group" *ngFor="let questionGroup of questionGroups">
  <div class="group-display-logic-summary-outer">
    <div class="logic-bubble-row">
      <span>Display</span>
      <span class="logic-skip-to">only if</span>
      <span>5 - What is your favorite color?</span>
      <span>Red</span>
      <span>is selected</span>
    </div>
  </div>
  <!-- Group Header-->
  <div class="sbc-question-group-header">
    <div class="sbc-question-group-title">
      {{questionGroup.title}}
    </div>
    <div class="sbc-question-group-icons">
      <button mat-icon-button [matMenuTriggerFor]="qgMenu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #qgMenu="matMenu">
        <button mat-menu-item>Edit Logic</button>
        <button mat-menu-item>Collapse</button>
        <button mat-menu-item>Duplicate</button>
        <hr>
        <button mat-menu-item>Delete</button>
      </mat-menu>
    </div>
  </div>
  <!-- Question -->
  <app-questions></app-questions>
  <!-- Group Footer-->
  <div class="sbc-question-group-footer">
    <div class="split-button-outer button-split-text">
      <button mat-button class="split-button-left">
        New Question
      </button>
      <button mat-button [matMenuTriggerFor]="addQuestionMenu" class="split-button-right">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #addQuestionMenu="matMenu" yPosition="below">
        <button mat-menu-item>
          <span>Page Break</span>
        </button>
        <button mat-menu-item (click)="openLibraryDialog()">
          <span>Import from Library</span>
        </button>
        <hr>
        <button mat-menu-item>
          <mat-icon>format_list_bulleted</mat-icon>
          <span>Multiple Choice</span>
        </button>
        <button mat-menu-item>
          <mat-icon>format_quote</mat-icon>
          <span>Statement</span>
        </button>
        <button mat-menu-item>
          <mat-icon>star_outline</mat-icon>
          <span>Scale</span>
        </button>
        <button mat-menu-item>
          <mat-icon>unfold_more</mat-icon>
          <span>Select</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notes</mat-icon>
          <span>Text Entry</span>
        </button>
        <button mat-menu-item>
          <mat-icon>swap_vert</mat-icon>
          <span>Rank</span>
        </button>
        <button mat-menu-item>
          <mat-icon>attachment</mat-icon>
          <span>File Upload</span>
        </button>

      </mat-menu>
    </div>
  </div>
  <!-- New Question/Group Buttons-->
  <!-- <div class="split-button-outer">
    <button mat-button class="split-button-left">
      New Question
    </button>
    <button mat-button [matMenuTriggerFor]="addQuestionMenu" class="split-button-right">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #addQuestionMenu="matMenu">
      <button mat-menu-item>Page break</button>
      <button mat-menu-item>Import from Library</button>
      <button mat-menu-item>Multiple choice</button>
    </mat-menu>
  </div> -->

  <div class="new-group-button-container">
    <div class="split-button-outer button-split-text">
      <button mat-button class="split-button-left">
        New Group
      </button>
      <button mat-button [matMenuTriggerFor]="addGroupMenu" class="split-button-right">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #addGroupMenu="matMenu">
        <button mat-menu-item>Import from Library</button>
      </mat-menu>
    </div>
  </div>

</div>
