<!-- Question -->
<div class="sbc-question-outer"
*ngFor="let question of questions; let first = first; let last = last"
(click)="onSelect(question)"
[class.selected]="question === selectedQuestion"
[ngClass]="{ first: first, last: last, 'page-break':question.questionType === 'pageBreak'}">
  <div class="sbc-question-inner" *ngIf="question.questionType !== 'pageBreak'">
    <div class="sbc-question-header">
      <div class="sbc-question-title">
        <span class="sbc-question-number">
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'multipleChoice' || question.questionType == 'multipleChoiceImage'">
            list_alt
          </span>
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'scale'">
            star_outline
          </span>
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'statement'">
            notes
          </span>
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'rank' || question.questionType == 'rankImage'">
            swap_vert
          </span>
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'select'">
            expand_more
          </span>
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'textEntry'">
            chat_bubble_outline
          </span>
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'fileUpload'">
            attachment
          </span>
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'npm'">
            trending_up
          </span>
          <span>{{question.id}}</span>
        </span>
        {{question.questionText}}
      </div>
      <div class="sbc-question-icons">
        <button mat-icon-button [matMenuTriggerFor]="qMenu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <!-- <mat-menu #qMenu="matMenu">
          <button mat-menu-item>Move</button>
          <button mat-menu-item (click)="openAddLogicDialog()">Edit Logic</button>
          <button mat-menu-item>Duplicate</button>
          <hr>
          <button mat-menu-item>Delete</button>
        </mat-menu> -->

        <mat-menu #qMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="reports">Move</button>
          <button mat-menu-item (click)="openAddLogicDialog()">Edit Logic</button>
          <button mat-menu-item>Duplicate</button>
          <hr>
          <button mat-menu-item>Delete</button>
        </mat-menu>
        <mat-menu #reports="matMenu">
          <button mat-menu-item *ngFor="let question of questions">
            <span *ngIf="question.questionType !== 'pageBreak'">{{question.id}} - {{question.questionText}}</span>
            <span *ngIf="question.questionType === 'pageBreak'"><hr style="border-bottom: 1px dashed #d2d1d0;"></span>
          </button>
        </mat-menu>


      </div>
    </div>
    <div class="sbc-answer-text-editor" *ngIf="question.questionType == 'multipleChoice' || question.questionType == 'multipleChoiceImage' || question.questionType == 'select' || question.questionType == 'rank' || question.questionType == 'rankImage'">
      <div class="sbc-answer-text-line" *ngFor="let answers of question.answers">
        <button mat-button [matMenuTriggerFor]="atlMenu" class="atl-dropdown-button">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #atlMenu="matMenu">
          <button mat-menu-item>Anchor</button>
          <button mat-menu-item>Make exclusive</button>
          <hr>
          <button mat-menu-item style="padding-left: 8px;">
            <mat-icon style="margin-right: 4px;">arrow_drop_up</mat-icon>
            <span>Move up</span>
          </button>
          <button mat-menu-item style="padding-left: 8px;">
            <mat-icon style="margin-right: 4px;">arrow_drop_down</mat-icon>
            <span>Move down</span>
          </button>
          <hr>
          <button mat-menu-item>Remove</button>
        </mat-menu>

        <span class="sbc-atl-image-thumbnail" *ngIf="question.questionType == 'multipleChoiceImage' || question.questionType == 'rankImage'" [ngClass]="{'yosemite':answers === 'Yosemite', 'yellowstone':answers === 'Yellowstone', 'niagra-falls':answers === 'Niagra Falls', 'no-image':answers === 'Choice 4'}">
          <span class="material-icons thumbnail-change" *ngIf="answers !== 'Choice 4'">close</span>
          <span class="material-icons thumbnail-add" *ngIf="answers == 'Choice 4'">add</span>
        </span>

        <style>
          .sbc-atl-image-thumbnail.yosemite {background-image: url(https://github.com/brettbradleycampbell/angular-innovate-prototype/blob/master/src/assets/images/yosemite.jpg?raw=true);}
          .sbc-atl-image-thumbnail.yellowstone {background-image: url(https://github.com/brettbradleycampbell/angular-innovate-prototype/blob/master/src/assets/images/yellowstone.jpg?raw=true);}
          .sbc-atl-image-thumbnail.niagra-falls {background-image: url(https://github.com/brettbradleycampbell/angular-innovate-prototype/blob/master/src/assets/images/niagra-falls.jpg?raw=true);}
        </style>

        <span class="sbc-atl-text" [ngClass]="{'sbc-atl-text-with-image':question.questionType === 'multipleChoiceImage' || question.questionType === 'rankImage'}">{{answers}}</span>
        <!-- <span class="atl-icons">
          <span class="material-icons">chat_bubble</span>
          <span class="material-icons">lock</span>
        </span> -->
      </div>
    </div>

    <div class="sbc-answer-text-editor" *ngIf="question.questionType == 'scale'">
      <div class="answer-element-type" *ngIf="question.answerElementType == 'hearts'">
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
      </div>
      <div class="answer-element-type" *ngIf="question.answerElementType == 'stars'">
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
      </div>
      <div class="answer-element-type" *ngIf="question.answerElementType == 'numbers'">
        [ 1 - 5 ]
      </div>
    </div>

    <div class="sbc-answer-text-editor" *ngIf="question.questionType == 'npm'">
      <div class="answer-element-type">
        [ 0 - 10 ]
      </div>
    </div>

    <div class="sbc-answer-text-editor" *ngIf="question.questionType == 'textEntry' || question.questionType == 'fileUpload'">
      <div class="answer-element-type" *ngIf="question.answerElementType == 'email'">
        [ Email ]
      </div>
      <div class="answer-element-type" *ngIf="question.answerElementType == 'textarea'">
        [ Textarea ]
      </div>
      <div class="answer-element-type" *ngIf="question.answerElementType == 'fileUpload'">
        [ File upload ]
      </div>
    </div>



  </div>

  <div *ngIf="question.questionType == 'pageBreak'">
    <hr class="page-break-hr">
    <span class="material-icons page-break-remove">remove_circle</span>
  </div>

  <div class="vertical-split-button-outer button-move-question">
    <button mat-button class="move-question-up">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-button class="move-question-down">
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </div>

  <div class="split-button-outer button-add-question">
    <button mat-button class="split-button-left">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="addQuestionMenu" class="split-button-right">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #addQuestionMenu="matMenu" yPosition="below">
      <button mat-menu-item>
        <span>Page Break</span>
      </button>
      <button mat-menu-item (click)="openLibraryDialog()">
        <span>Import from Library</span>
      </button>
      <hr>
      <button mat-menu-item *ngFor="let questionType of questionTypes">
        <mat-icon>{{questionType.icon}}</mat-icon>
        <span>{{questionType.type}}</span>
        <sup *ngIf="questionType.type === 'nps'">®</sup>
      </button>
    </mat-menu>

  </div>

  <div class="connect-question-to-menu" *ngIf="question.questionType !== 'pageBreak'"></div>

</div>
