<!-- Question -->
<div class="sbc-question-outer"
*ngFor="let question of questions; let first = first; let last = last"
(click)="onSelect(question)"
[class.selected]="question === selectedQuestion"
[ngClass]="{ first: first, last: last, 'page-break':question.questionType === 'pageBreak'}">
  <div class="sbc-question-inner" *ngIf="question.questionType !== 'pageBreak'">


    <div class="skip-logic-destination-container" *ngIf="question.skipLogicDestination === true">
      <mat-icon class="skip-logic-destination-icon" matTooltip="1 - Enter your question text here." matTooltipPosition="above" matTooltipShowDelay="250">subdirectory_arrow_right</mat-icon>
      <mat-icon class="skip-logic-destination-icon orange">subdirectory_arrow_right</mat-icon>
    </div>
    <div class="skip-logic-destination-container" *ngIf="question.skipLogicDestination2 === true">
      <mat-icon class="skip-logic-destination-icon blue">subdirectory_arrow_right</mat-icon>
      <mat-icon class="skip-logic-destination-icon lime">subdirectory_arrow_right</mat-icon>
    </div>
    <div *ngIf="question.displayLogicHide === true" class="logic-summary-bubble-outer logic-display-outer">
      <div class="logic-bubble-row">
        <span class="logic-hide">Hide</span>
        <span class="logic-skip-to">if</span>
        <span>1 - What is your age?</span>
        <span>18 - 24</span>
        <span>is selected</span>
      </div>
    </div>
    <div *ngIf="question.displayLogic === true" class="logic-summary-bubble-outer logic-display-outer">
      <div class="logic-bubble-row">
        <span class="logic-display">Display</span>
        <span class="logic-skip-to">only if</span>
        <span>1 - What is your age?</span>
        <span>65+</span>
        <span>is selected</span>
      </div>
      <div class="logic-bubble-row">
        <span class="">and</span>
        <span>2 - What state do you live in?</span>
        <span>California</span>
        <span>is not selected</span>
      </div>
    </div>

    <div class="sbc-question-header">
      <div class="sbc-question-title">
        <span class="sbc-question-number">
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'multipleChoice' || question.questionType == 'multipleChoiceImage'">
            list_alt
          </span>
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'scale'">
            star_outline
          </span>
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'statement'">
            notes
          </span>
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'rank' || question.questionType == 'rankImage'">
            swap_vert
          </span>
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'select'">
            expand_more
          </span>
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'textEntry'">
            chat_bubble_outline
          </span>
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'fileUpload'">
            attachment
          </span>
          <span class="material-icons question-number-icon" *ngIf="question.questionType == 'npm'">
            trending_up
          </span>
          <span>{{question.id}}</span>
        </span>
        {{question.questionText}}
      </div>
      <div class="sbc-question-icons">
        <button mat-icon-button [matMenuTriggerFor]="qMenu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <!-- <mat-menu #qMenu="matMenu">
          <button mat-menu-item>Move</button>
          <button mat-menu-item (click)="openAddLogicDialog()">Edit Logic</button>
          <button mat-menu-item>Duplicate</button>
          <hr>
          <button mat-menu-item>Delete</button>
        </mat-menu> -->

        <mat-menu #qMenu="matMenu">
          <button mat-menu-item>Duplicate</button>
          <button mat-menu-item (click)="openAddLogicDialog()">Edit Logic</button>
          <button mat-menu-item [matMenuTriggerFor]="reports">Move</button>
          <hr>
          <button mat-menu-item>Delete</button>
        </mat-menu>
        <mat-menu #reports="matMenu">
          <button mat-menu-item *ngFor="let question of questions">
            <span *ngIf="question.questionType !== 'pageBreak'">{{question.id}} - {{question.questionText}}</span>
            <span *ngIf="question.questionType === 'pageBreak'"><hr style="border-bottom: 1px dashed #d2d1d0;"></span>
          </button>
        </mat-menu>


      </div>
    </div>
    <div class="sbc-answer-text-editor" *ngIf="question.questionType == 'multipleChoice' || question.questionType == 'multipleChoiceImage' || question.questionType == 'select' || question.questionType == 'rank' || question.questionType == 'rankImage'">
      <div class="sbc-answer-text-line" *ngFor="let answers of question.answers">
        <button mat-button [matMenuTriggerFor]="atlMenu" class="atl-dropdown-button">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #atlMenu="matMenu">
          <button mat-menu-item style="padding-left: 8px;">
            <mat-icon style="margin-right: 8px; height: 20px; width: 20px; font-size: 20px; margin-top: -4px;">check</mat-icon>
            <span>Allow text entry</span>
          </button>
          <button mat-menu-item style="padding-left: 8px;">
            <mat-icon style="margin-right: 8px; height: 20px; width: 20px; font-size: 20px;"></mat-icon>
            <span>Anchor</span>
          </button>
          <button mat-menu-item  style="padding-left: 8px;">
            <mat-icon style="margin-right: 8px; height: 20px; width: 20px; font-size: 20px; margin-top: -4px;">check</mat-icon>
            <span>Make exclusive</span>
          </button>
          <hr>
          <button mat-menu-item style="padding-left: 8px;">
            <mat-icon style="margin-right: 8px; height: 20px; width: 20px; font-size: 20px; margin-top: -4px;">arrow_drop_up</mat-icon>
            <span>Move up</span>
          </button>
          <button mat-menu-item style="padding-left: 8px;">
            <mat-icon style="margin-right: 8px; height: 20px; width: 20px; font-size: 20px; margin-top: -4px;">arrow_drop_down</mat-icon>
            <span>Move down</span>
          </button>
          <hr>
          <button mat-menu-item>
            <span>Delete</span>
          </button>
        </mat-menu>

        <span class="sbc-atl-image-thumbnail" *ngIf="question.questionType == 'multipleChoiceImage' || question.questionType == 'rankImage'" [ngClass]="{'yosemite':answers === 'Yosemite', 'yellowstone':answers === 'Yellowstone', 'niagra-falls':answers === 'Niagra Falls', 'no-image':answers === 'Choice 4'}">
          <span class="material-icons thumbnail-change" *ngIf="answers !== 'Choice 4'">close</span>
          <span class="material-icons thumbnail-add" *ngIf="answers == 'Choice 4'">add</span>
        </span>

        <style>
          .sbc-atl-image-thumbnail.yosemite {background-image: url(https://github.com/brettbradleycampbell/angular-innovate-prototype/blob/master/src/assets/images/yosemite.jpg?raw=true);}
          .sbc-atl-image-thumbnail.yellowstone {background-image: url(https://github.com/brettbradleycampbell/angular-innovate-prototype/blob/master/src/assets/images/yellowstone.jpg?raw=true);}
          .sbc-atl-image-thumbnail.niagra-falls {background-image: url(https://github.com/brettbradleycampbell/angular-innovate-prototype/blob/master/src/assets/images/niagra-falls.jpg?raw=true);}
        </style>

        <span class="sbc-atl-text" [ngClass]="{'sbc-atl-text-with-image':question.questionType === 'multipleChoiceImage' || question.questionType === 'rankImage'}">{{answers}}</span>
        <!-- <span class="atl-icons">
          <span class="material-icons">chat_bubble</span>
          <span class="material-icons">lock</span>
        </span> -->
      </div>
    </div>

    <div class="sbc-answer-text-editor" *ngIf="question.questionType == 'scale'">
      <div class="answer-element-type" *ngIf="question.answerElementType == 'hearts'">
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
        <mat-icon>favorite_outline</mat-icon>
      </div>
      <div class="answer-element-type" *ngIf="question.answerElementType == 'stars'">
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
      </div>
      <div class="answer-element-type" *ngIf="question.answerElementType == 'numbers'">
        [ 1 - 5 ]
      </div>
    </div>

    <div class="sbc-answer-text-editor" *ngIf="question.questionType == 'npm'">
      <div class="answer-element-type">
        [ 0 - 10 ]
      </div>
    </div>

    <div class="sbc-answer-text-editor" *ngIf="question.questionType == 'textEntry' || question.questionType == 'fileUpload'">
      <div class="answer-element-type" *ngIf="question.answerElementType == 'email'">
        [ Email ]
      </div>
      <div class="answer-element-type" *ngIf="question.answerElementType == 'textarea'">
        [ Textarea ]
      </div>
      <div class="answer-element-type" *ngIf="question.answerElementType == 'fileUpload'">
        [ File upload ]
      </div>
    </div>



  </div>

  <div *ngIf="question.questionType == 'pageBreak'">
    <hr class="page-break-hr">
    <span class="material-icons page-break-remove">remove_circle</span>
  </div>

  <div class="vertical-split-button-outer button-move-question">
    <button mat-button class="move-question-up">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-button class="move-question-down">
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </div>

  <div class="split-button-outer button-add-question">
    <button mat-button class="split-button-left">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="addQuestionMenu" class="split-button-right">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #addQuestionMenu="matMenu" yPosition="below">
      <button mat-menu-item>
        <span>Page Break</span>
      </button>
      <button mat-menu-item (click)="openLibraryDialog()">
        <span>Import from Library</span>
      </button>
      <hr>
      <button mat-menu-item *ngFor="let questionType of questionTypes">
        <mat-icon>{{questionType.icon}}</mat-icon>
        <span>{{questionType.type}}</span>
        <sup *ngIf="questionType.type === 'nps'">®</sup>
      </button>
    </mat-menu>

  </div>

  <div class="connect-question-to-menu" *ngIf="question.questionType !== 'pageBreak'"></div>

  <div *ngIf="question.skipLogic === true" class="logic-summary-bubble-outer logic-skip-outer">
    <div class="logic-bubble-row purple">
      <span class="logic-if purple">If</span>
      <span class="logic-answer-choice">Choice 1</span>
      <span class="logic-selected">is selected</span>
      <span class="logic-skip-to">skip to</span>
      <span class="logic-skip-destination-question logic-highlighted">3 - How likely are you to recommend our business to a friend or colleague?</span>
    </div>
    <div class="logic-bubble-row purple">
      <span class="logic-if lime">If</span>
      <span class="logic-any-all-prefix">any of</span>
      <span class="logic-answer-choice logic-multiple">Choice 1, Choice 2, Choice 3</span>
      <span class="logic-not-selected">are not selected</span>
      <span class="logic-skip-to">skip to</span>
      <span class="logic-skip-destination-question logic-highlighted">3 - How likely are you to recommend our business to a friend or colleague?</span>
    </div>
    <div class="logic-bubble-row red">
      <span class="logic-if gold">If</span>
      <span class="logic-any-all-prefix">all of</span>
      <span class="logic-answer-choice logic-multiple">Choice1, Choice 2, Choice 3</span>
      <span class="logic-selected">are selected</span>
      <span class="logic-skip-to">skip to</span>
      <span class="logic-skip-destination-question logic-highlighted" style="padding-left: 24px; position: relative;">
        <mat-icon style="font-size: 14px;
    height: auto;
    width: auto;
    position: absolute;
    left: 5px;
    top: 5px;">block</mat-icon>
        Termination
      </span>
    </div>
    <div class="logic-bubble-row blue">
      <span class="logic-if lime">If</span>
      <span class="logic-any-all-prefix">any of</span>
      <span class="logic-answer-choice logic-multiple">Choice 1, Choice 2, Choice 3</span>
      <span class="logic-not-selected">are not selected</span>
      <span class="logic-skip-to">skip to</span>
      <span class="logic-skip-destination-question logic-highlighted">5 - Please rate your experience.</span>
    </div>
    <!-- <div class="logic-bubble-row green">
      <span class="logic-if gold">If</span>
      <span class="logic-any-all-prefix">all of</span>
      <span class="logic-answer-choice logic-multiple logic-highlighted">Choice1, Choice 2, Choice 3</span>
      <span class="logic-selected">are selected</span>
      <span class="logic-skip-to">skip to</span>
      <span class="logic-skip-destination-question logic-highlighted">Completion</span>
    </div> -->
    <div class="logic-bubble-row teal">
      <span class="logic-if gold">If</span>
      <span class="logic-any-all-prefix">all of</span>
      <span class="logic-answer-choice logic-multiple">Choice1, Choice 2, Choice 3</span>
      <span class="logic-selected">are selected</span>
      <span class="logic-skip-to">skip to</span>
      <span class="logic-skip-destination-question logic-highlighted" style="padding-left: 24px; position: relative;">
        <mat-icon style="font-size: 14px;
    height: auto;
    width: auto;
    position: absolute;
    left: 5px;
    top: 5px;">done</mat-icon>
        Completion
      </span>
    </div>
    <!-- <div class="logic-bubble-row green">
      <span class="logic-if gold">If</span>
      <span class="logic-any-all-prefix">either</span>
      <span class="logic-answer-choice logic-multiple logic-highlighted">Choice 2, Choice 3</span>
      <span class="logic-selected">is selected</span>
      <span class="logic-skip-to">skip to</span>
      <span class="logic-skip-destination-question logic-highlighted">3 - How likely are you to recommend our business to a friend or colleague?</span>
    </div> -->
    <div class="logic-bubble-row blue">
      <span class="logic-if gold">If</span>
      <span class="logic-any-all-prefix">both</span>
      <span class="logic-answer-choice logic-multiple">Choice 2, Choice 3</span>
      <span class="logic-selected">are selected</span>
      <span class="logic-skip-to">skip to</span>
      <span class="logic-skip-destination-question logic-highlighted">5 - Please rate your experience.</span>
      <!-- <mat-icon style="height: auto; width: auto; font-size: 18px;">remove_circle</mat-icon>
      <span class="logic-skip-to" style="text-decoration: underline; cursor: pointer; font-family: 'Roboto'; margin-left: 8px; margin-right: 8px;">Edit</span> -->
    </div>
    <!-- <div class="logic-bubble-row">
      <span class="logic-answer-choice">Choice 2</span>
      <span class="logic-skip-to">or</span>
      <span class="logic-answer-choice">Choice 4</span>
      <span class="logic-selected">selected</span>
      <span class="logic-skip-to">skip to</span>
      <span style="background-color: #eac5cf; color: #b52d2d;">Termination</span>
    </div>
    <div class="logic-bubble-row">
      <span class="logic-answer-choice">Choice 1</span>
      <span class="logic-skip-to">and</span>
      <span class="logic-answer-choice">Choice 3</span>
      <span class="logic-skip-to">and</span>
      <span class="logic-answer-choice">Choice 4</span>
      <span class="logic-selected">selected</span>
      <span class="logic-skip-to">skip to</span>
      <span style="background-color: #eac5cf; color: #b52d2d;">Termination</span>
    </div> -->

  </div>




</div>
