<style>
    #customize {display: none;}
    #themes.hide {display: none;}
    #customize.show {display: block;}
</style>

<div class="settings-menu-top">
  <div class="themes-list-current-theme-outer">
    <span class="theme-list-label-text">Theme</span>
    <span *ngIf="selectedTheme; else elseBlock" class="theme-list-current-theme">{{selectedTheme.name}}</span>
    <ng-template #elseBlock>Innovate MR 1</ng-template>
  </div>
  <div class="customize-theme-button">
    <button mat-stroked-button>Customize</button>
  </div>
</div>

<div class="settings-menu-bottom">
  <div class="theme-list-outer">
    <div class="theme-outer" *ngFor="let theme of themes" (click)="onSelect(theme)" [class.selected]="theme === selectedTheme">

      <div class="theme-snapshot" [style.background-color]="theme.bgColor">
        <h3 class="theme-snapshot-question" [style.color]="theme.questionColor">Question text</h3>
        <div class="theme-snapshot-answer">
          <mat-icon [style.background-color]="theme.buttonColor" [style.color]="theme.buttonTextColor" class="theme-snapshot-checkbox">check</mat-icon>
          <span [style.color]="theme.answerColor">Answer text</span>
        </div>
      </div>

      <div class="theme-footer">
        <span class="theme-title">{{theme.name}}</span>
        <button mat-icon-button [matMenuTriggerFor]="qgMenu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #qgMenu="matMenu">
          <button mat-menu-item>Customize</button>
          <button mat-menu-item>Duplicate</button>
          <hr>
          <button mat-menu-item disabled>Delete</button>
        </mat-menu>
      </div>

    </div>
  </div>
</div>
