<!-- Question Type -->
<div class="sbc-settings-item">
  <mat-label>Question Type</mat-label>
  <mat-form-field appearance="outline" class="mat-select-outer">
    <mat-select [(value)]="selected">
      <mat-option value="multipleChoice">
        <mat-icon>format_list_bulleted</mat-icon>
        <span>Multiple Choice</span>
      </mat-option>
      <mat-option value="statement">
        <mat-icon>format_quote</mat-icon>
        <span>Statement</span>
      </mat-option>
      <mat-option value="scale">
        <mat-icon>star_outline</mat-icon>
        <span>Scale</span>
      </mat-option>
      <mat-option value="select">
        <mat-icon>unfold_more</mat-icon>
        <span>Select</span>
      </mat-option>
      <mat-option value="textEntry">
        <mat-icon>notes</mat-icon>
        <span>Text Entry</span>
      </mat-option>
      <mat-option value="rank">
        <mat-icon>swap_vert</mat-icon>
        <span>Rank</span>
      </mat-option>
      <mat-option value="fileUpload">
        <mat-icon>attachment</mat-icon>
        <span>File Upload</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-slide-toggle class="sbc-settings-item">Required</mat-slide-toggle>
<div class="sbc-settings-item">
  <!-- Preset answers -->
  <mat-slide-toggle>Preset answers</mat-slide-toggle>
  <mat-form-field appearance="outline" class="mat-select-outer mat-sub-select">
    <mat-select [(value)]="selected2">
      <mat-option value="age">Age</mat-option>
      <mat-option value="usSates">U.S. States</mat-option>
      <mat-option value="education">Education</mat-option>
      <mat-option value="gender">Gender</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<!-- Allow multiple answers -->
<mat-slide-toggle class="sbc-settings-item">Multiple answers</mat-slide-toggle>
<div class="sbc-settings-item" style="display: flex; align-items: center;">
  <span>Insert image</span>
  <button mat-stroked-button (click)="openAddImageDialog()" style="line-height: 28px; min-width: 0; padding: 0 8px; margin: 8px 0; margin-left: auto;">Add</button>
</div>
<!-- <mat-slide-toggle class="sbc-settings-item">Insert image</mat-slide-toggle> -->
<mat-slide-toggle class="sbc-settings-item">Insert video</mat-slide-toggle><!-- Answer order -->
<div class="sbc-settings-item">
  <mat-slide-toggle>Custom sort order</mat-slide-toggle>
    <mat-form-field appearance="outline" class="mat-select-outer mat-sub-select">
    <mat-select [(value)]="selected3">
      <mat-option value="random">Random</mat-option>
      <mat-option value="alphabetical">Alphabetical</mat-option>
      <mat-option value="low">Lowest to Highest</mat-option>
      <mat-option value="high">Highest to Lowest</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-slide-toggle class="sbc-settings-item">Hide image labels</mat-slide-toggle>



<!-- <ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol> -->
