<div class="share-wrapper">

  <!-- <div class="" style="display: flex; justify-content: space-between;">
      <div class="" style="display: flex; align-items: center;">
        <button mat-flat-button color="primary" onclick="window.open(''); return false;" class="buy-panelists-button icon-text-button icon-right">
          <span>Buy Panelists</span>
          <mat-icon class="mobile-hide">open_in_new</mat-icon>
        </button>
      </div>
  </div> -->

  <h3 class="page-header">Share your survey</h3>

  <div class="" style="display: flex; align-items: flex-start;">

    <div class="content-box-outer no-padding" style="flex-direction: column; width: 70%;">

      <div class="survey-link-outer general-link">

        <div class="survey-link-inner-section">
          <button mat-icon-button><mat-icon>pause_circle_outline</mat-icon></button>
        </div>
        <div  class="survey-link-inner-section share-link-input-outer">
          <mat-form-field appearance="outline">
            <input matInput placeholder="" disabled value="pegasusmr.com/survey-url">
          </mat-form-field>
          <button mat-button class="copy-link-button">Copy</button>
        </div>
        <button mat-flat-button color="primary" class="icon-text-button icon-left" style="margin-left: auto; margin-right: 12px;">
          <mat-icon>add</mat-icon>
          <span>New Link</span>
        </button>

      </div>

      <div class="survey-link-outer custom-link">
        <div class="survey-link-inner-section">
          <button mat-icon-button><mat-icon>pause_circle_outline</mat-icon></button>
          <span class="survey-link-icon"><mat-icon>link</mat-icon></span>
        </div>
        <div class="survey-link-inner-section survey-link-title">
          <span class="survey-link-title-inner">Custom link 1 - Long text</span>
        </div>
        <div  class="survey-link-inner-section share-link-input-outer">
          <mat-form-field appearance="outline">
            <input matInput placeholder="" disabled value="pegasusmr.com/survey-url?src=custom-link-id">
          </mat-form-field>
          <button mat-button class="copy-link-button">Copy</button>
        </div>
        <div class="survey-link-inner-section survey-link-delete">
          <button mat-icon-button><mat-icon>more_horiz</mat-icon></button>
        </div>
      </div>

      <div class="survey-link-outer custom-link">
        <div class="survey-link-inner-section">
          <button mat-icon-button><mat-icon>pause_circle_outline</mat-icon></button>
          <span class="survey-link-icon fb"><mat-icon>link</mat-icon></span>
        </div>
        <div class="survey-link-inner-section survey-link-title">
          <span class="survey-link-title-inner">Facebook</span>
        </div>
        <div  class="survey-link-inner-section share-link-input-outer">
          <mat-form-field appearance="outline">
            <input matInput placeholder="" disabled value="pegasusmr.com/survey-url?src=fb">
          </mat-form-field>
          <button mat-button class="copy-link-button">Copy</button>
        </div>
        <div class="survey-link-inner-section survey-link-delete">
          <button mat-icon-button><mat-icon>more_horiz</mat-icon></button>
        </div>
      </div>

      <div class="survey-link-outer custom-link">
        <div class="survey-link-inner-section">
          <button mat-icon-button><mat-icon>pause_circle_outline</mat-icon></button>
          <span class="survey-link-icon twitter"><mat-icon>link</mat-icon></span>
        </div>
        <div class="survey-link-inner-section survey-link-title">
          <span class="survey-link-title-inner">Twitter</span>
        </div>
        <div  class="survey-link-inner-section share-link-input-outer">
          <mat-form-field appearance="outline">
            <input matInput placeholder="" disabled value="pegasusmr.com/survey-url?src=tw">
          </mat-form-field>
          <button mat-button class="copy-link-button">Copy</button>
        </div>
        <div class="survey-link-inner-section survey-link-delete">
          <button mat-icon-button><mat-icon>more_horiz</mat-icon></button>
        </div>
      </div>


    </div>

    <div class="content-box-outer" style="flex-direction: column; margin-left: auto; max-width: 280px;">
      <div class="">
        <h3 class="page-header" style="margin-top: 0;">Need panelists?</h3>
        <p style="margin-bottom: 32px; font-size: 14px;">Get panelists using our proprietary Pegasus platform. Get results faster than traditional ways of procuring samples - without sacrificing quality.</p>
      </div>
      <button mat-flat-button color="primary" onclick="window.open(''); return false;" class="buy-panelists-button icon-text-button icon-right">
        <span>Buy Panelists</span>
        <mat-icon class="mobile-hide">open_in_new</mat-icon>
      </button>
    </div>

  </div>



</div>
