<div class="image-dialog-inner">

  <h3 mat-dialog-title>Add Image</h3>

  <mat-dialog-content>

    <div class="image-dialog-subheader">
      <div class="image-dialog-tab-buttons">
        <button (click)="imageLibraryTabToggle()" mat-flat-button [ngClass]="{'active-dialog-tab': imageLibraryTab === true}">
          <span>Library</span>
        </button>
        <button (click)="imageLibraryTabToggle()" mat-flat-button [ngClass]="{'active-dialog-tab': imageLibraryTab === false}">
          <span>Web search</span>
        </button>
        <div class="image-dialog-url">
          <mat-checkbox></mat-checkbox>
          <mat-form-field appearance="outline" class="custom-height-input image-url-input">
            <input matInput placeholder="Image URL">
          </mat-form-field>
        </div>
      </div>
    </div>

    <mat-grid-list *ngIf="imageLibraryTab === true" cols="4" rowHeight="140px" gutterSize="20px" class="image-grid-library">
      <mat-grid-tile class="image-grid-item upload-image-input">
        <span class="upload-text"><span class="upload-link">Upload</span> or drag files here</span>
      </mat-grid-tile>
      <mat-grid-tile *ngFor="let image of images" (click)="onSelect(image)" [class.selected]="image === selectedImage" [style.background-image]="'url('+image.url+')'">
        <div class="image-settings-overlay">
          <mat-icon [matMenuTriggerFor]="imageLibraryDelete">more_horiz</mat-icon>
          <mat-menu #imageLibraryDelete="matMenu">
            <button mat-menu-item>Delete</button>
          </mat-menu>
        </div>
      </mat-grid-tile>
    </mat-grid-list>


    <mat-form-field appearance="outline" class="header-search image-web-search-bar" *ngIf="imageLibraryTab === false">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search the web via Unsplash">
    </mat-form-field>

    <div class="image-grid-web-search" *ngIf="imageLibraryTab === false">
      <div class="image-grid-item" *ngFor="let image of images" (click)="onSelect(image)" [class.selected]="image === selectedImage">
        <img src="{{image.url}}" />
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button mat-dialog-close color="primary" class="dialog-primary-action-button">Add image</button>
  </mat-dialog-actions>

</div>
