<header id="header-desktop" class="mdc-top-app-bar mdc-top-app-bar--dense mdc-top-app-bar--fixed app-header">
  <div class="mdc-top-app-bar__row header-row-one">
    <section class="mdc-top-app-bar__section">
      <div class="app-header__item">
        <span class="mobile-hide">
          <a href="#"><img src="https://github.com/brettbradleycampbell/angular-innovate-prototype/blob/master/src/assets/images/innovate-logo-placeholder-black.png?raw=true" class="innovate-logo"></a>
        </span>
        <span class="mobile-only">
          <button mat-icon-button class="pause-play-survey">
            <mat-icon>menu</mat-icon>
          </button>
        </span>
      </div>
      <!-- <div class="app-header__item">
        <span class="material-icons">home</span>
      </div> -->
      <div class="app-header__item header-breadcrumbs">
        <span class="breadcrumb-slash mobile-hide">/</span>
        <a href="/dashboard" class="breadcrumb-link mobile-hide">Surveys</a>
        <span class="breadcrumb-slash breadcrumb-current mobile-hide">/</span>
        <a class="breadcrumb-link breadcrumb-current breadcrumb-survey-name-outer">
          <span class="breadcrumb-survey-name">Customer Feedback Survey 1 - Long Survey Name text Long survey name text</span>
        </a>
        <button mat-icon-button class="pause-play-survey">
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
      </div>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <div class="app-header__item mobile-hide">
        <mat-form-field appearance="outline" class="header-search">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="app-header__item mobile-hide">
        <button mat-stroked-button class="header-user-account-button icon-text-button icon-left">
          <mat-icon class="user-account-icon">person</mat-icon>
          <span class="user-account-name">Matt Dusig</span>
        </button>
      </div>
    </section>
  </div>
  <div class="mdc-top-app-bar__row header-row-two">
    <section class="mdc-top-app-bar__section header-nav-links">

      <nav mat-tab-nav-bar disableRipple class="custom-tabs">
        <!-- These made the ink-bar work: https://stackoverflow.com/questions/46949520/angular-material-2-mat-ink-bar-not-showing-in-mat-tab-nav-bar -->
        <!-- https://stackblitz.com/edit/angular-po4uyy?file=app%2Ftab-nav-bar-basic-example.html -->
        <a mat-tab-link [routerLink]="['/create/content']"  #rla="routerLinkActive" [active]="rla.isActive" routerLinkActive>Create </a>
        <a mat-tab-link [routerLink]="['/share']"  #rla2="routerLinkActive" [active]="rla2.isActive" routerLinkActive> Share </a>
        <a mat-tab-link [routerLink]="['/results']"  #rla3="routerLinkActive" [active]="rla3.isActive" routerLinkActive> Results </a>
      </nav>

    </section>

    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <div class="app-header__item saving-changes">
        <span class="mobile-hide">Saving...</span>
        <span class="mobile-only"><mat-icon>check</mat-icon></span>
      </div>
      <div class="app-header__item">
        <button mat-flat-button color="primary" onclick="window.open(''); return false;" class="preview-button icon-text-button icon-right">
          <span>View</span>
          <mat-icon class="mobile-hide">open_in_new</mat-icon>
        </button>
      </div>
    </section>
  </div>

</header>

<router-outlet></router-outlet>
