<!-- Question Library Dialog -->
<div class="dialog-question-library-inner">

  <h3 mat-dialog-title>Import from Question Library</h3>

  <mat-dialog-content class="ql-dialog-conent-outer">

    <div class="ql-list settings-menu">
      <div class="settings-menu-top ql-dialog">
        <mat-form-field appearance="outline" class="mat-select-outer">
          <mat-select [(value)]="selected">
            <mat-option value="all">All Questions</mat-option>
            <mat-option value="customer">Customer Service</mat-option>
            <mat-option value="market">Market Research</mat-option>
            <mat-option value="demographic">Demographic</mat-option>
            <mat-option value="academic">Academic</mat-option>
            <mat-option value="other">Other Category</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="settings-menu-bottom ql-dialog">
        <mat-selection-list>
          <mat-list-option >Age</mat-list-option>
          <mat-list-option >Gender</mat-list-option>
          <mat-list-option >Education</mat-list-option>
          <mat-list-option >Marital status</mat-list-option>
          <mat-list-option >Salary</mat-list-option>
          <mat-list-option >Product satisfaction</mat-list-option>
          <mat-list-option >Personal information</mat-list-option>
          <mat-list-option >Question Template</mat-list-option>
          <mat-list-option >Question Template</mat-list-option>
          <mat-list-option >Question Template</mat-list-option>
          <mat-list-option >Question Template</mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div class="ql-preview">
      <div style="padding: 12px;">
        Question Preview (on hover)
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button mat-dialog-close color="primary" class="dialog-primary-action-button">Import 3 Questions</button>
  </mat-dialog-actions>
</div>
