<div class="logic-dialog-inner">

  <h3 mat-dialog-title>Edit Question Logic</h3>

  <mat-dialog-content>

    <div class="logic-dialog-subheader">
      <div class="image-dialog-tab-buttons">
        <button (click)="skipLogicTabToggle()" mat-flat-button [ngClass]="{'active-dialog-tab': skipLogicTab === true}">
          <span>
            Skip logic
          </span>
        </button>

        <button (click)="skipLogicTabToggle()" mat-flat-button [ngClass]="{'active-dialog-tab': skipLogicTab === false}">
          <span>
            Display logic
          </span>
        </button>


      </div>
    </div>

    <!-- Skip Logic OUTER -->
    <div *ngIf="skipLogicTab === true" class="logic-conditions-outer">
      <div class="logic-conditions-row settings-menu">

        <div class="logic-drag-indicator" matTooltip="Multiple choice, Dropdown list" matTooltipPosition="above">
          <mat-icon>drag_indicator</mat-icon>
        </div>

        <div class="logic-condition">
          <span class="logic-pre">If</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="skipAnswers" multiple>
              <div class="any-all-radio">
                <mat-radio-button>Any</mat-radio-button>
                <mat-radio-button>All</mat-radio-button>
              </div>
              <hr>
              <mat-option [value]="1">Choice 1</mat-option>
              <mat-option [value]="2">Choice 2</mat-option>
              <mat-option [value]="3">Choice 3</mat-option>
              <mat-option [value]="4">Choice 4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="logic-condition">
          <span class="logic-pre">is</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="skipOperators">
              <mat-option value="yes">
                <span>Selected</span>
              </mat-option>
              <mat-option value="no">
                <span>Not selected</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <span class="logic-pre">skip to</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="skipDestinations">
              <mat-option value="2">
                <span>2 - What state do you live in? </span>
              </mat-option>
              <mat-option value="3">
                <span>3 - Please rate your experience.</span>
              </mat-option>
              <mat-option value="4">
                <span>4 - Please rate your stay.</span>
              </mat-option>
              <hr>
              <mat-option value="completion">
                <span>Survey completion</span>
              </mat-option>
              <mat-option value="termination">
                <span>Survey termination</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>

      </div>

      <!-- Skip Logic - Text Entry -->
      <div class="logic-conditions-row settings-menu">

        <div class="logic-drag-indicator" matTooltip="Text Entry" matTooltipPosition="above">
          <mat-icon>drag_indicator</mat-icon>
        </div>

        <div class="logic-condition">
          <span class="logic-pre">If answer</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="textEntryOperators">
              <mat-option [value]="1">Contains</mat-option>
              <mat-option [value]="2">Does not contain</mat-option>
              <mat-option [value]="3">Matches exactly</mat-option>
              <mat-option [value]="4">Does not match exactly</mat-option>
              <hr>
              <mat-option [value]="5">Is greater than</mat-option>
              <mat-option [value]="6">Is greater than or equal to</mat-option>
              <mat-option [value]="7">Is less than</mat-option>
              <mat-option [value]="8">Is less than or equal to</mat-option>
              <mat-option [value]="9">Is equal to</mat-option>
              <mat-option [value]="10">Is not equal to</mat-option>
              <mat-option [value]="11">Is between</mat-option>
              <mat-option [value]="12">Is not between</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer" [ngClass]="{'input-size-small': textEntryOperators == '11' || textEntryOperators == '12'}">
            <input matInput placeholder="" value="">
          </mat-form-field>
          <span *ngIf="textEntryOperators == '11' || textEntryOperators == '12'" class="logic-pre logic-range">and</span>
          <mat-form-field *ngIf="textEntryOperators == '11' || textEntryOperators == '12'" appearance="outline" class="mat-select-outer input-size-small">
            <input matInput placeholder="" value="">
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <span class="logic-pre">skip to</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="textEntryDestinations">
              <mat-option value="2">
                <span>2 - What state do you live in? </span>
              </mat-option>
              <mat-option value="3">
                <span>3 - Please rate your experience.</span>
              </mat-option>
              <mat-option value="4">
                <span>4 - Please rate your stay.</span>
              </mat-option>
              <hr>
              <mat-option value="completion">
                <span>Survey completion</span>
              </mat-option>
              <mat-option value="termination">
                <span>Survey termination</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>

      </div>

      <!-- Skip Logic - Scale + NPS -->
      <div class="logic-conditions-row settings-menu">

        <div class="logic-drag-indicator" matTooltip="Scale, NPS" matTooltipPosition="above">
          <mat-icon>drag_indicator</mat-icon>
        </div>

        <div class="logic-condition">
          <span class="logic-pre">If answer</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="scaleOperators">
              <mat-option [value]="5">Is greater than</mat-option>
              <mat-option [value]="6">Is greater than or equal to</mat-option>
              <mat-option [value]="7">Is less than</mat-option>
              <mat-option [value]="8">Is less than or equal to</mat-option>
              <mat-option [value]="9">Is equal to</mat-option>
              <mat-option [value]="10">Is not equal to</mat-option>
              <mat-option [value]="11">Is between</mat-option>
              <mat-option [value]="12">Is not between</mat-option>
              <hr>
              <mat-option [value]="13" matTooltip="NPS only" matTooltipPosition="above">Is detractor (0 - 6)</mat-option>
              <mat-option [value]="14" matTooltip="NPS only">Is passive (7 - 8)</mat-option>
              <mat-option [value]="15" matTooltip="NPS only">Is promoter (9 - 10)</mat-option>

            </mat-select>
          </mat-form-field>
        </div>

        <div class="logic-condition" *ngIf="scaleOperators != '13' && scaleOperators != '14' && scaleOperators != '15'">
          <mat-form-field appearance="outline" class="mat-select-outer input-size-small">
            <input matInput placeholder="" value="" type="number" min="0">
          </mat-form-field>
          <span *ngIf="scaleOperators == '11' || scaleOperators == '12'" class="logic-pre logic-range">and</span>
          <mat-form-field *ngIf="scaleOperators == '11' || scaleOperators == '12'" appearance="outline" class="mat-select-outer input-size-small">
            <input matInput placeholder="" value="" type="number" min="0">
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <span class="logic-pre">skip to</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="scaleDestinations">
              <mat-option value="2">
                <span>2 - What state do you live in? </span>
              </mat-option>
              <mat-option value="3">
                <span>3 - Please rate your experience.</span>
              </mat-option>
              <mat-option value="4">
                <span>4 - Please rate your stay.</span>
              </mat-option>
              <hr>
              <mat-option value="completion">
                <span>Survey completion</span>
              </mat-option>
              <mat-option value="termination">
                <span>Survey termination</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>

      </div>

      <!-- Skip Logic - Rank -->
      <div class="logic-conditions-row settings-menu">

        <div class="logic-drag-indicator" matTooltip="Rank" matTooltipPosition="above">
          <mat-icon>drag_indicator</mat-icon>
        </div>

        <div class="logic-condition">
          <span class="logic-pre">If</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="rankAnswerChoices" multiple>
              <div class="any-all-radio">
                <mat-radio-button>Any</mat-radio-button>
                <mat-radio-button>All</mat-radio-button>
              </div>
              <hr>
              <mat-option [value]="1">Choice 1</mat-option>
              <mat-option [value]="2">Choice 2</mat-option>
              <mat-option [value]="3">Choice 3</mat-option>
              <mat-option [value]="4">Choice 4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="rankOperators">
              <mat-option [value]="5">Is greater than</mat-option>
              <mat-option [value]="6">Is greater than or equal to</mat-option>
              <mat-option [value]="7">Is less than</mat-option>
              <mat-option [value]="8">Is less than or equal to</mat-option>
              <mat-option [value]="9">Is equal to</mat-option>
              <mat-option [value]="10">Is not equal to</mat-option>
              <mat-option [value]="11">Is between</mat-option>
              <mat-option [value]="12">Is not between</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer input-size-small">
            <input matInput placeholder="" value="" type="number" min="0">
          </mat-form-field>
          <span *ngIf="rankOperators == '11' || rankOperators == '12'" class="logic-pre logic-range">and</span>
          <mat-form-field *ngIf="rankOperators == '11' || rankOperators == '12'" appearance="outline" class="mat-select-outer input-size-small">
            <input matInput placeholder="" value="" type="number" min="0">
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <span class="logic-pre">skip to</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="rankDestinations">
              <mat-option value="2">
                <span>2 - What state do you live in? </span>
              </mat-option>
              <mat-option value="3">
                <span>3 - Please rate your experience.</span>
              </mat-option>
              <mat-option value="4">
                <span>4 - Please rate your stay.</span>
              </mat-option>
              <hr>
              <mat-option value="completion">
                <span>Survey completion</span>
              </mat-option>
              <mat-option value="termination">
                <span>Survey termination</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>

      </div>

      <button mat-stroked-button class="icon-text-button icon-left add-logic-condition-button">
        <mat-icon>add</mat-icon>
        <span>Add skip</span>
      </button>

    </div><!-- END NEW DIV -->

    <!-- Display Logic -->
    <div *ngIf="skipLogicTab === false" class="logic-conditions-outer">

      <div class="logic-conditions-row settings-menu">
        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer input-display-hide">
            <mat-select [(value)]="displayhide">
              <mat-option value="display">
                <span>Display</span>
              </mat-option>
              <mat-option value="hide">
                <span>Hide</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span class="logic-post">only if</span>
        </div>
      </div>

      <div class="logic-conditions-row settings-menu">
        <div class="logic-drag-indicator" matTooltip="Multiple choice, Dropdown list" matTooltipPosition="above">
          <mat-icon>drag_indicator</mat-icon>
        </div>
        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="displayQuestionsList">
              <mat-option value="1">
                <span>1 - Enter your question text</span>
              </mat-option>
              <mat-option value="2">
                <span>2 - Please choose a picture</span>
              </mat-option>
              <mat-option value="3">
                <span>3 - Please rate your experience.</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="displayAnswersList" multiple>
              <div class="any-all-radio">
                <mat-radio-button>Any</mat-radio-button>
                <mat-radio-button>All</mat-radio-button>
              </div>
              <hr>
              <mat-option [value]="1">Choice 1</mat-option>
              <mat-option [value]="2">Choice 2</mat-option>
              <mat-option [value]="3">Choice 3</mat-option>
              <mat-option [value]="4">Choice 4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <span class="logic-pre">is</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="displayOperators">
              <mat-option value="yes">
                <span>Selected</span>
              </mat-option>
              <mat-option value="no">
                <span>Not selected</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>

      </div>
      <div class="logic-conditions-row settings-menu">
        <div class="logic-drag-indicator">
          <mat-icon>drag_indicator</mat-icon>
        </div>
        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer input-size-small">
            <mat-select [(value)]="andor1">
              <mat-option value="and">
                <span>And</span>
              </mat-option>
              <mat-option value="or">
                <span>Or</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="displayQuestionsList2">
              <mat-option value="1">
                <span>1 - Enter your question text</span>
              </mat-option>
              <mat-option value="2">
                <span>2 - Please choose a picture</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="displayAnswersList2" multiple>
              <div class="any-all-radio">
                <mat-radio-button>Any</mat-radio-button>
                <mat-radio-button>All</mat-radio-button>
              </div>
              <hr>
              <mat-option [value]="1">Choice 1</mat-option>
              <mat-option [value]="2">Choice 2</mat-option>
              <mat-option [value]="3">Choice 3</mat-option>
              <mat-option [value]="4">Choice 4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <span class="logic-pre">is</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="displayOperators2">
              <mat-option value="yes">
                <span>Selected</span>
              </mat-option>
              <mat-option value="no">
                <span>Not selected</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>

      </div>


      <button mat-stroked-button class="icon-text-button icon-left add-logic-condition-button">
        <mat-icon>add</mat-icon>
        <span>Add condition</span>
      </button>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button mat-dialog-close color="primary" class="dialog-primary-action-button">Save</button>
  </mat-dialog-actions>




</div>
