<div mat-dialog-title>
  <h3 style="margin-top: 0;">Edit Question Logic</h3>
</div>

<mat-dialog-content>
  <mat-tab-group animationDuration="0ms" dynamicHeight class="custom-tabs" disableRipple>
    <mat-tab label="Skip Logic">
      <div class="logic-conditions-row settings-menu">

        <div class="logic-drag-indicator">
          <mat-icon>drag_indicator</mat-icon>
        </div>

        <div class="logic-condition">
          <span class="logic-pre">If</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="selected" multiple>
              <div class="any-all-radio">
                <mat-radio-button>Any</mat-radio-button>
                <mat-radio-button>All</mat-radio-button>
              </div>
              <hr>
              <mat-option [value]="1">Choice 1</mat-option>
              <mat-option [value]="2">Choice 2</mat-option>
              <mat-option [value]="3">Choice 3</mat-option>
              <mat-option [value]="4">Choice 4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="logic-condition">
          <span class="logic-pre">is</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="selected2">
              <mat-option value="yes">
                <span>Selected</span>
              </mat-option>
              <mat-option value="no">
                <span>Not selected</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <span class="logic-pre">skip to</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="selected3">
              <mat-option value="2">
                <span>2 - What state do you live in? </span>
              </mat-option>
              <mat-option value="3">
                <span>3 - Please rate your experience.</span>
              </mat-option>
              <mat-option value="4">
                <span>4 - Please rate your stay.</span>
              </mat-option>
              <hr>
              <mat-option value="completion">
                <span>Survey completion</span>
              </mat-option>
              <mat-option value="termination">
                <span>Survey termination</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>

      </div>

      <button mat-stroked-button class="icon-text-button icon-left" style="margin-top: 24px;">
        <mat-icon>add</mat-icon>
        <span>Add skip</span>
      </button>

    </mat-tab>
    <mat-tab label="Display Logic">

      <div class="logic-conditions-row settings-menu">
        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer" style="max-width: 89px;">
            <mat-select [(value)]="displayhide">
              <mat-option value="display">
                <span>Display</span>
              </mat-option>
              <mat-option value="hide">
                <span>Hide</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span class="logic-post">only if</span>
        </div>
      </div>
      <div class="logic-conditions-row settings-menu">
        <div class="logic-drag-indicator">
          <mat-icon>drag_indicator</mat-icon>
        </div>
        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="dselected">
              <mat-option value="1">
                <span>1 - Enter your question text</span>
              </mat-option>
              <mat-option value="2">
                <span>2 - Please choose a picture</span>
              </mat-option>
              <mat-option value="3">
                <span>3 - Please rate your experience.</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="dselected2" multiple>
              <div class="any-all-radio">
                <mat-radio-button>Any</mat-radio-button>
                <mat-radio-button>All</mat-radio-button>
              </div>
              <hr>
              <mat-option [value]="1">Choice 1</mat-option>
              <mat-option [value]="2">Choice 2</mat-option>
              <mat-option [value]="3">Choice 3</mat-option>
              <mat-option [value]="4">Choice 4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <span class="logic-pre">is</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="dselected3">
              <mat-option value="yes">
                <span>Selected</span>
              </mat-option>
              <mat-option value="no">
                <span>Not selected</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>

      </div>
      <div class="logic-conditions-row settings-menu">
        <div class="logic-drag-indicator">
          <mat-icon>drag_indicator</mat-icon>
        </div>
        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer" style="max-width: 89px;">
            <mat-select [(value)]="andor">
              <mat-option value="and">
                <span>And</span>
              </mat-option>
              <mat-option value="or">
                <span>Or</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="dselected5">
              <mat-option value="1">
                <span>1 - Enter your question text</span>
              </mat-option>
              <mat-option value="2">
                <span>2 - Please choose a picture</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="dselected6" multiple>
              <div class="any-all-radio">
                <mat-radio-button>Any</mat-radio-button>
                <mat-radio-button>All</mat-radio-button>
              </div>
              <hr>
              <mat-option [value]="a">Choice 1</mat-option>
              <mat-option [value]="b">Choice 2</mat-option>
              <mat-option [value]="c">Choice 3</mat-option>
              <mat-option [value]="d">Choice 4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="logic-condition">
          <span class="logic-pre">is</span>
          <mat-form-field appearance="outline" class="mat-select-outer">
            <mat-select [(value)]="dselected7">
              <mat-option value="yes">
                <span>Selected</span>
              </mat-option>
              <mat-option value="no">
                <span>Not selected</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>

      </div>


      <button mat-stroked-button class="icon-text-button icon-left" style="margin-top: 24px;">
        <mat-icon>add</mat-icon>
        <span>Add condition</span>
      </button>

    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close style="margin-right: 12px;">Cancel</button>
  <button mat-flat-button mat-dialog-close color="primary">Save</button>
</mat-dialog-actions>
