<!-- Dashboard -->
<style>
  /deep/ .app-header .header-breadcrumbs .breadcrumb-link {color: #2b2b2b;}
  /deep/ .header-row-two, /deep/ .breadcrumb-current, /deep/ .pause-play-survey {display: none;}
  /deep/ body {background: #f7f6f5;}
</style>

<div class="dashboard-wrapper">
  <div class="dashboard-list-surveys">
    <div class="dashboard-page-header-outer">
      <h3 class="page-header">Surveys</h3>
      <div class="page-header-button-outer">
        <button mat-flat-button color="primary" class="icon-text-button icon-left">
          <mat-icon>add</mat-icon>
          <span>New Survey</span>
        </button>
        <a href="library" style="position: absolute; top: 75px; color: red; opacity: .4;"><mat-icon>fingerprint</mat-icon></a>
      </div>
    </div>

    <!-- Survey -->
    <div class="survey-summary-outer">
      <div class="survey-summary-item">
        <button mat-icon-button>
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
        <span class="survey-status survey-active">Active</span>
        <a href="create/content" class="survey-title">Customer Feedback Survey 1</a>
      </div>
      <div class="survey-summary-item">
        <div class="start-complete-rate">
          <span class="rate-label">Starts</span>
          <span class="rate-number">210</span>
        </div>
        <div class="start-complete-rate">
          <span class="rate-label">Completes</span>
          <span class="rate-number">54</span>
        </div>
      </div>
      <div class="survey-summary-item survey-summary-buttons">
        <button mat-button class="">Edit</button>
        <button mat-button class="">View Results</button>
        <button mat-icon-button [matMenuTriggerFor]="surveyListMenu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #surveyListMenu="matMenu">
          <button mat-menu-item>Share</button>
          <button mat-menu-item>Duplicate</button>
          <button mat-menu-item [matMenuTriggerFor]="reports">View Report</button>
          <hr>
          <button mat-menu-item>Delete</button>
        </mat-menu>
        <mat-menu #reports="matMenu">
          <button mat-menu-item>Report 1</button>
          <button mat-menu-item>Exectuive Summary</button>
          <button mat-menu-item>Test Report</button>
        </mat-menu>
      </div>
    </div>

    <!-- Survey -->
    <div class="survey-summary-outer">
      <div class="survey-summary-item">
        <button mat-icon-button>
          <mat-icon>play_circle_outline</mat-icon>
        </button>
        <span class="survey-status survey-paused">Paused</span>
        <a href="create/content" class="survey-title">Demo Survey - Long survey title text survey title text </a>
      </div>
      <div class="survey-summary-item">
        <div class="start-complete-rate">
          <span class="rate-label">Starts</span>
          <span class="rate-number">210</span>
        </div>
        <div class="start-complete-rate">
          <span class="rate-label">Completes</span>
          <span class="rate-number">54</span>
        </div>
      </div>
      <div class="survey-summary-item survey-summary-buttons">
        <button mat-button class="">Edit</button>
        <button mat-button class="">View Results</button>
        <button mat-icon-button [matMenuTriggerFor]="surveyListMenu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #surveyListMenu="matMenu">
          <button mat-menu-item>Share</button>
          <button mat-menu-item>Duplicate</button>
          <button mat-menu-item [matMenuTriggerFor]="reports">View Report</button>
          <hr>
          <button mat-menu-item>Delete</button>
        </mat-menu>
        <mat-menu #reports="matMenu">
          <button mat-menu-item>Report 1</button>
          <button mat-menu-item>Exectuive Summary</button>
          <button mat-menu-item>Test Report</button>
        </mat-menu>
      </div>
    </div>

  </div>
</div>
