// New styles

.sbc-question-group {
  // border: 1px solid #e1e1e1;
  // margin: 24px;
  // border-radius: $global-border-radius;
  margin: 24px 0;
  // border-bottom: $light-border;

  @if $question-group-full-width == false {
    margin: $question-group-margin;
  }
}

.sbc-question-outer {
  position: relative;
  background: $bg-color-question;
  border-left: none;

  &.selected {
    background: $bg-color-question-selected;

    @if $question-group-full-width == false {
      width: calc(100% + #{$question-group-margin});

      .button-add-question {
        right: 8px + $question-group-margin;
        background: $light-gray;
      }
    } @else {

      .button-add-question {
        background: $white;
      }
    }

  }
}

.connect-question-to-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  @if $question-settings-menu-left-right == left {
    left: -1px;
  } @else {
    right: -1px;
  }

  width: 2px;
  background: $bg-color-question-selected;
  opacity: 0;
  // transition: opacity, .2s;
}

.sbc-question-outer.selected .connect-question-to-menu {
  opacity: 1;
}

.atl-dropdown-button.mat-button {
  padding: 0;
  margin-right: 12px;
  min-width: 24px;
  line-height: 24px;
  color: rgba(0,0,0,.3);
  position: absolute;
  left: -32px;

  .mat-icon {
    position: relative;
    top: 2px;
    font-size: 18px;
  }

  &[aria-expanded="true"],
  &:hover {
    color: inherit;
  }

}

$logic-bubble-color: gray; //blue //gray

.logic-summary-bubble-outer {
  padding: 16px 12px 12px;
  border-radius: 4px;
  font-size: 12px;
  // margin: 24px 0px 8px 0px;
  margin-right: 0px;
  // opacity: 0.7;
  border: 1px dotted transparent;
  // background: rgba(0,0,0,.02);
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -16px;
  padding-left: 16px;

  &.logic-skip-outer {
    margin-top: 24px;
    margin-bottom: 8px;
    // border-top: $light-border;

  }
  &.logic-display-outer {
    margin-top: 0;
    margin-bottom: 24px;
    // border-bottom: $light-border;
  }

  .logic-bubble-row {
    display: flex;
    margin-bottom: 12px;
    flex-wrap: wrap;
    &:last-child {
      margin-bottom: 0;
    }

    &.purple span.logic-highlighted {
      background: #ddd1f1; //#c5cbea; //#3f51b5;
      color: #673AB7; //#2c3b8c; // #fff;
    }
    &.orange span.logic-highlighted {
      background: #efca5d;
      color: #544413;
    }
    &.lime span.logic-highlighted {
      background: #d4e245;
      color: #454a15;
    }
    &.red span.logic-highlighted {
      background-color: #eac5cf;
      color: #521616;
    }
    &.green span.logic-highlighted {
      background-color: #badcb4;
      color: #466f3e;
    }

  }

  span {
    padding: 6px 6px; //8px 8px;
    border-radius: 3px;
    margin: 0 8px 4px 0;
    margin-right: 4px;
    font-family: "Roboto Mono";
    white-space: nowrap;
    line-height: 1em;
    display: inline;

    @if $logic-bubble-color == blue {
      background: #e0e4f5; //#c5cdea;
      color: $body-text-color; //#2c3b8c; //#3f51b5;
    }
    @if $logic-bubble-color == gray {
      background: #e3e2e1; //#c5cdea;
      color: $body-text-color; //#3f51b5;
    }

    &.logic-selected {
      // background: #fff; //#e0e4f5; //#c5cdea;
      // color: #3f51b5;
    }
    &.logic-not-selected {
      // background: #eac5cf; // da4040;
      // color: #b52d2d; // fff;
      // background: #fff; // #e0e4f5; //#c5cdea;
      // color: #3f51b5;
    }
    &.logic-answer-choice {
      @if $logic-bubble-color == blue {
        background: #c5cbea; // #b4bedc; // #3f51b5; // #673ab7; // #e0e4f5; //#dee3fb;
        color: #2c3b8c;// #3f51b5; // #fff;
      }
      @if $logic-bubble-color == gray {
        background: #dadad9;
        color: $body-text-color;
      }
      &.logic-multiple {
        // border-top-left-radius: 0;
        // border-bottom-left-radius: 0;
        white-space: normal;
      }
      // background: #3f51b5;
      // color: #fff;
    }
    &.logic-skip-destination-question {
      background: #ddd1f1; //#c5cbea; //#3f51b5;
      color: #673AB7; //#2c3b8c; // #fff;
      max-width: 264px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.logic-skip-to,
    &.logic-if {
      background: transparent;
      padding-left: 2px;
      padding-right: 2px;
    }
    &.logic-hide,
    &.logic-display {
      // background: #3e3638;
      // color: #fff;
    }
    // &.logic-display {
    //   background: #4caf50;
    //   color: #fff;
    // }
    // &.logic-if {
    //   background: #ddd1f1;
    //   color: #673AB7;
    //
    //   &.gold {
    //     background: #efca5d;
    //     color: #544413;
    //   }
    //   &.lime {
    //     background: #d4e245;
    //     color: #454a15;
    //   }
    // }

    &.logic-any-all-prefix {
      // border-top-right-radius: 0;
      // border-bottom-right-radius: 0;
      // margin-right: 0;
    }

  }

}

.sbc-question-outer.selected {

  .logic-summary-bubble-outer.logic-skip-outer,
  .logic-summary-bubble-outer.logic-display-outer,   {
    // opacity: 1;
    border-color: rgba(0,0,0,.14);

    @if $logic-bubble-color == blue {
      background: #f5f7fb; //#f1f3f9; //#eaecf5; // #f2f4fb;
      color: $body-text-color; //#2c3b8c; // #3f51b5;
    }
    @if $logic-bubble-color == gray {
      background: $light-gray; //#eaecf5; // #f2f4fb;
      color: $body-text-color;
    }
  }

}


//
//
// // Old styles
//

.survey-builder-content {

  @include breakpoint-large-up {
    height: 690px; // figure out how to make this full height
    overflow: scroll;
  }
  padding-bottom: $global-padding*40;

  .material-icons {
    color: rgba(0,0,0,.6);
  }
}

.survey-builder-container {
  position: relative;
  background: $background-color-survey-builder-container;
  padding-right: 0;

  @include breakpoint-large-up {
    @if $question-settings-sidebar == left {
      padding-right: $survey-preview-width;
      padding-left: $settings-menu-width;
    } @else if $question-settings-sidebar == right {
      padding-right: $settings-menu-width + $survey-preview-width;
    }

  }
  @include breakpoint-large {
    padding-right: $settings-menu-width;
  }
  @include breakpoint-medium {
    padding-right: 0;
  }

}
// .sbc-question-group {
//
//   @if $boxed-sbc == true {
//     margin: $question-group-margin;
//     border: $light-border;
//     border-radius: $global-border-radius;
//   }
//   // background: $background-color-question-group;
//
//   @if $group-contained == false {
//     border: none;
//     background: transparent;
//     border-radius: none;
//
//   } @else if $group-contained == true {
//     @if $low-borders == false {
//       border: none;
//       background: transparent;
//       border-radius: none;
//     }
//   }
//
//
// }

.sbc-question-group-header {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background: $bg-color-question-group-header;
  @if $question-group-full-width == false {
    border-radius: 2px 2px 0 0;
    border: $light-border;
    border-bottom: none;
  }

  // border-top-left-radius: $global-border-radius;
  // border-top-right-radius: $global-border-radius;
  // border: $light-border;
  // border-bottom: none;

  // @if $group-contained == true and $low-borders == false {

  // }

  .sbc-question-group-title,
  .sbc-question-group-icons {
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    min-width: 0;
    z-index: 1;
    @if $group-contained == true {
      padding: $global-padding-large/1.5;
    }

  }
  .sbc-question-group-title {
    padding-left: $global-padding-large/1.5;
    font-size: $font-size-smaller;

    @if $group-contained == false {
      color: #777;
      padding: $global-padding*4;
      padding-left: 0;
    }

  }
  .sbc-question-group-icons {
    justify-content: flex-end;
    padding: 0;
    padding-right: 8px;
  }

}

.button-move-question {
  display: flex;
  flex-direction: column;
  position: relative;
  position: absolute;
  top: calc(50% - 32px);
  background: transparent;
  border: $light-border;
  color: #666;

  @if $question-group-full-width == true {
    top: 0;
    bottom: 0;
    border-bottom: 0;
    border-top: 0;
    border-radius: 0;
    height: 100%;
  }

  @if $button-move-question-left-right == left {
    left: 0;
    @if $question-group-full-width == false {
      left: -26px;
      border-radius: $global-border-radius 0 0 $global-border-radius;
    } @else {
      border-radius: 0;
      border-left: 0;
    }

  } @else {
    right: 0;
    border-radius: 2px 0 0 2px;
    border-right: 0;
  }
  //
  visibility: hidden;

  button {
    background: transparent;
    border: none;
    padding: 0;
    min-width: 24px;
    height: 36px;
    border-radius: 0;

    @if $question-group-full-width == true {
      background: $bg-color-content;
      height: 50%;
    }

    &.move-question-up {
      border-top-left-radius: $global-border-radius - 1px;
      border-bottom: $light-border;
    }
    &.move-question-down {
      border-bottom-left-radius: $global-border-radius - 1px;
    }

    .mdc-button__icon {
      margin: 0;
    }

    .material-icons {
      font-size: 18px;
    }

  }
}

.sbc-question-outer {
  border-top: $light-border;
  @if $question-group-full-width == true {
    padding: $global-padding-large $global-padding-large*1.5;
  } @else {
    padding: $global-padding-large $global-padding-large/1.5;
  }

  padding-right: 8px; // to match alignment of question group settings icon.
  position: relative;
  // transition: background-color, .2s; // this was causing weird reload side effects / adding/removing top and bottom border.

  &.last {
    border-bottom: $light-border;
  }

  @if $question-settings-menu-left-right == left {
    border-left: $light-border;
  } @else {
    border-right: $light-border;

    @if $question-group-full-width == false {
      border-left: $light-border;
    }
  }

  // @if $group-contained == true {
  //   background: $bg-color-question-group;
  //
  //   @if $low-borders == false {
  //     border-left: $light-border;
  //     // border-right: $light-border;
  //   }
  //
  // }
  @if $group-contained == false {

    @if $boxed-sbc == false {
      border-left-color: none;
      border-right: none;
    } @else {
      border-left: $light-border;
      // border-right: $light-border;
    }
    background: $gray-bg-lighter;
  }


  &:hover {
    background: $bg-color-question-hover;
  }

  .button-add-question {
    visibility: hidden;
    position: absolute;
    bottom: -16px;
    // height: 28px;
    right: 8px;
    z-index: 2;
    border-radius: $global-border-radius;
    display: inline-flex;
    background: $light-gray;
    border: $light-border;

    button {
      background: transparent;
      border: none;
      // color: $body-text-color;
      padding: 0;
      min-width: 28px;
      height: 32px;
      border-radius: 0;

      &.split-button-left {

        min-width: 44px;
        border-right: $light-border;

        .mdc-button__icon {
          margin: 0;
        }

      }

      // &.button-add-circle {
      //   width: 28px;
      // }
      //
      // &.button-add-circle-dropdown {
      //   width: 28px;
      //   border-left: $light-border;
      // }

      .material-icons {
        font-size: 18px;
      }

    }
  }

  &.sbc-question-first {
    border-top: $light-border;
    @if $low-borders == true {
      border-top: $light-border-low;
    }
    @if $group-contained == false {
      border-top-left-radius: $global-border-radius;
      border-top-right-radius: $global-border-radius;
    }
  }
  &.sbc-question-last {
    border-bottom: $light-border;
    @if $low-borders == true {
      border-bottom: $light-border-low;
    }
    @if $group-contained == false {
      border-bottom-left-radius: $global-border-radius;
      border-bottom-right-radius: $global-border-radius;
    }
  }
  &.sbc-question-only {
    border-top: $light-border;
    border-bottom: $light-border;
    @if $low-borders == true {
      border-top: $light-border-low;
      border-bottom: $light-border-low;
    }
    @if $group-contained == false {
      border-radius: $global-border-radius;
    }

  }
  &.selected {
    @if $sbc-selected-attached == false {
      background: $background-color-question-group;
    } @else {
      background: $background-color-settings-menu;
    }
    border-top: $light-border;
    border-bottom: $light-border;
    padding-right: 40px;

    // border-right: none;
    // &:after { // trying to make the menu connect to the outer, and hide the border in between.
    //   content: "";
    //   background: blue;
    //   position: absolute;
    //   width: 25px;
    //   top: 0;
    //   bottom: 0;
    //   right: 0;
    //   }
    //
    // @if $question-settings-sidebar == right and $sbc-selected-attached == true {
    //
    //   @include breakpoint-large-up {
    //     @if $low-borders == false {
    //       width: calc(100% + #{$question-group-margin}); // Previously had to add 1px for border. Don't know what's changed now.
    //     } @else {
    //       width: calc(100% + #{$question-group-margin});
    //     }
    //     .sbc-question-inner {
    //       width: calc(100% - #{$question-group-margin});
    //     }
    //
    //     .button-add-circle-outer {
    //       right: $global-margin-large + $question-group-margin;
    //     }
    //
    //   }
    //
    // }

    &+.sbc-question-outer {
      border-top: none;
    }
    .button-add-question,
    .sbc-question-icons,
    .button-move-question {
      visibility: visible;
    }

    .sbc-question-number,
    .question-number-icon {
      background: $bg-color-question-number-selected;
      color: $question-number-text-color-selected;
    }

  }
  &:hover {
    .button-add-question,
    .sbc-question-icons,
    .button-move-question {
      visibility: visible;
    }
  }

}

.button-split-text {
  // height: 28px;
  right: 8px;
  z-index: 2;
  border-radius: $global-border-radius;
  display: inline-flex;
  background: $light-gray;
  border: $light-border;

  button {
    background: transparent;
    border: none;
    // color: $body-text-color;
    // padding: 0;
    min-width: 38px;
    // height: 32px;
    border-radius: 0;

    .mat-icon {

    }

    &.split-button-left {

      border-right: $light-border;

      .mdc-button__icon {
        margin: 0;
      }

    }

    &.split-button-right {
      padding: 0;
    }

    // &.button-add-circle {
    //   width: 28px;
    // }
    //
    // &.button-add-circle-dropdown {
    //   width: 28px;
    //   border-left: $light-border;
    // }

    .material-icons {
      font-size: 18px;
    }

  }
}


.page-break {
  text-align: center;
  padding: 24px $global-padding*3;
  background: transparent;
  @if $question-group-full-width == false {
    border-right-color: transparent;
    border-left-color: transparent;
  }

  &:hover {
    background: inherit;

  }

  .page-break-hr {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #b4b4b4;
    margin: 0;
  }

  .page-break-text {
    position: absolute;
    padding: $global-padding*2;
    background: $gray-bg;
    border-radius: $global-border-radius;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #777;
    display: none;
  }

  .page-break-remove {
    position: absolute;
    left: 0;
    top: 16px;
    background: $bg-color-content;
    padding: 0 $global-padding-large/2;
    font-size: 18px;
    opacity: 0;
  }

  &:hover {
    .page-break-remove {
      opacity: 1;
    }
  }

}

.sbc-question-header {
  margin-bottom: $global-margin-large;
  display: flex;

  .sbc-question-title,
  .sbc-question-icons {
    display: inline-flex;
    flex: 1 1 auto;
  }
  .sbc-question-title {
    font-family: "Roboto Mono", monospace;
  }

  .sbc-question-icons {
    justify-content: flex-end;
    height: 1rem; // to align to top of question title regardless of length (height) of question text.
    visibility: hidden;


    button {
      position: relative;
      top: -16px;
    }
  }
}

.sbc-question-number {
  background: $question-number-background-color;
  border-radius: 3px;
  padding: 4px 6px;
  top: -3px;
  position: relative;
  margin-right: 16px;
  font-size: 16px;
  color: $question-number-text-color;
  height: 26px;
  display: inline-flex;

  .question-number-icon {
    font-size: 18px;
    color: $question-number-text-color;
    vertical-align: top;
    margin-right: 6px;
  }

  span {
    vertical-align: top;
  }

}

.sbc-answer-text-editor {
  margin-left: 62px;
  cursor: text;
  display: inline-block;
  font-family: "Roboto Mono", monospace;

  .preset-answers-inner {
    margin-top: 12px;
  }


  .preset-answers-expand-button {
    text-decoration: underline;
    font-size: 80%;
    position: relative;
    bottom: 2px;
    margin-left: 8px;
    color: gray;
  }

  .sbc-answer-text-line {
    margin-top: $global-margin*2;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    // &.last-line {
    //   color: #ddd;
    //   opacity: 0;

    //   &:hover {
    //     opacity: 1;
    //   }
    // }

    // &:before {
    //   content: "-";
    //   position: absolute;
    //   left: -12px;
    // }
  }
  .sbc-atl-text {
    padding-right: 24px;
  }

  .sbc-atl-menu {
    background: transparent;
    position: absolute;
    left: -28px;
    // color: $body-text-color;
    user-select: none;
    cursor: pointer;

    padding: 0;
    min-width: 24px;
    height: 1.4rem;

    .material-icons {
      margin: 0;
      color: #999;
    }

    &:hover {
      opacity: 1;
    }
  }

  .atl-icons {
    // position: absolute;
    line-height: 1.2rem;
    user-select: none;
    margin-left: $global-margin*2;
    cursor: default;

    .material-icons {
      font-size: 12px;
      background: $gray-bg;
      color: #777;
      padding: 3px;
      border-radius: 2px;
    }
  }
}

.sbc-atl-image-thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: cover;
  width: 28px;
  height: 20px;
  border-radius: 2px;
  position: absolute;
  text-align: center;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;

  .thumbnail-change {
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    color: $white;
    font-size: 16px;
    padding-top: 2px;
  }

  &:hover {
    .thumbnail-change {
      opacity: 1;
    }
  }

  &.no-image {
    background: $gray-button-bg;
    .thumbnail-add {
      font-size: 16px;
      display: inline-flex;
      margin-left: auto;
      margin-right: auto;
      color: $body-text-color;
    }
  }
}

.sbc-atl-text-with-image {
  margin-left: 36px;
}

.sbc-question-group-footer {
  padding: $global-padding-large/2;
  border: $light-border;
  border-top: none;
  border-radius: 0 0 2px 2px;
  background: $bg-color-question-group;

  @if $question-group-full-width == true {
    display: none; // hack -- remove the Footer element once decide on a layout.
  }
}

.new-group-button-container {
  display: flex;
  justify-content: center;
  @if $group-contained == false {
    margin: $global-margin-large*2 0 $global-margin-large*1.5;
  } @else  {
    margin: $global-margin-large*1.5 0;
  }
}

.new-question-button .mdc-button,
.mdc-button.new-group-button {
  background: $gray-button-bg;
  color: rgba(0,0,0,.6);
}
