.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 16px 12px;
    border-bottom: $light-border;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.selected {
      background: $light-gray;
    }

    &:first-child {
      border-top: $light-border;
    }
    &:hover {
      background: $light-gray;
    }
  }
}

.column-summary-sidebar {
  background: #fff;
  max-width: 320px;
  border-left: $light-border;
}
.column-summary-main {
  padding: 24px;
}

.key-stats-container {
  background: $white;
  border: $light-border;
  border-radius: 4px;
  padding: 24px;

  h3 {
    font-weight: 400;
  }
}

.key-stats-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  th {
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 11px;
    vertical-align: bottom;
    color: #444;
  }
  th:first-child,
  td:first-child {
    width: 25%;
  }
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 0;
  }

  .survey-link-icon {
    margin-right: 8px;
  }

  .all-sources {
    .key-number {
      font-size:24px;
    }
  }
}

.answer-bar-question-title {
  margin-bottom: 32px;
}

.answer-bar-container {
  position: relative;
  margin-bottom: 12px;
}
.answer-bar-outer {
  background: $light-gray;
  position: relative;
  margin-left: 48px;
  border-radius: 4px;
  overflow: hidden;
}
.answer-bar-inner {
  background: #dee3fb;
  padding: 24px;
}
.answer-bar-percentage,
.answer-bar-label {
  position: absolute;
  height: 100%;
  align-items: center;
  display: flex;
}

.answer-bar-percentage {
  width: 48px;
  padding-right: 12px;
  justify-content: flex-end;
}
.answer-bar-label {
  margin-left: 12px;
}

.answer-data-summary-table {
  margin-top: 32px;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  td, th {
    border: $light-border;
    text-align: left;
    padding: 8px;
  }
  th {
    font-weight: 400;
    background: $light-gray;
  }
  .total {
    font-weight: bold;
  }

}

.question-summary-container {
  margin-bottom: 32px;
}


.answer-bar-outer-modified {
  margin-bottom: 8px;
}

// Responses

.nav-list.respondent-nav-list {
  li {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;

    .favorite-respondent {
      margin-left: auto;

      &.favorited {
        color: gold;
      }
    }
  }
}

.respondent-summary-table-container {
  margin-bottom: 24px;
  padding-top: 12px;
}
.responses-summary-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;

  td, th {
    border: $light-border;
    padding: 6px;
    min-width: 64px;

    // Do we want this or what? How do we make the All Respondents table look presentable?
    white-space: nowrap;
    max-width: 64px;
    text-overflow: ellipsis;
    overflow: hidden;

    span {
      max-width: 80%;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      padding-top: 4px;
    }

    .mat-icon {
      float: right;
    }


    span, .mat-icon {
      vertical-align: middle;
    }
  }
  th {
    background: $light-gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    text-align: left;
  }
}

.respondent-summary-container {
  padding-bottom: 0;
  margin-bottom: 24px;
}

.respondent-container-header {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: $light-border;

  .respondent-identifier {
    display: flex;
    margin-bottom: 4px;
    align-items: baseline;
  }
}

.respondent-answer-outer {
  display: flex;
  flex-direction: column;
  margin: 16px 0;

  .respondent-question {
    opacity: 0.5;
    font-size: 90%;
    margin-bottom: 8px;
  }

  .respondent-answer {
    margin-bottom: 16px;
  }

  .scale-out-of-text {
    opacity: 0.5;
  }
}
