.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 16px 12px;
    border-bottom: $light-border;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.selected {
      background: $light-gray;
    }

    &:first-child {
      border-top: $light-border;
    }
    &:hover {
      background: $light-gray;
    }
  }
}

.column-summary-sidebar {
  background: #fff;
  max-width: 320px;
  border-left: $light-border;
}
.column-summary-main {
  padding: 24px;
}

.key-stats-container {
  background: $white;
  border: $light-border;
  border-radius: 4px;
  padding: 24px;

  h3 {
    font-weight: 400;
  }
}

.key-stats-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  th {
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 11px;
    vertical-align: bottom;
    color: #444;
  }
  th:first-child,
  td:first-child {
    width: 25%;
  }
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 0;
  }

  .survey-link-icon {
    margin-right: 8px;
  }

  .all-sources {
    .key-number {
      font-size:24px;
    }
  }
}

.answer-bar-question-title {
  margin-bottom: 32px;
}

.answer-bar-container {
  position: relative;
  margin-bottom: 12px;
}
.answer-bar-outer {
  background: $light-gray;
  position: relative;
  margin-left: 48px;
  border-radius: 4px;
  overflow: hidden;
}
.answer-bar-inner {
  background: #dee3fb;
  padding: 24px;
}
.answer-bar-percentage,
.answer-bar-label {
  position: absolute;
  height: 100%;
  align-items: center;
  display: flex;
}

.answer-bar-percentage {
  width: 48px;
  padding-right: 12px;
  justify-content: flex-end;
}
.answer-bar-label {
  margin-left: 12px;
  white-space: nowrap;
  overflow: hidden;
}

.answer-data-summary-table {
  margin-top: 32px;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  td, th {
    border: $light-border;
    text-align: left;
    padding: 8px;
  }
  th {
    font-weight: 400;
    background: $light-gray;
  }
  .total {
    font-weight: bold;
  }

}

.question-summary-container {
  margin-bottom: 32px;
}


.answer-bar-outer-modified {
  margin-bottom: 8px;
}

// Responses

.nav-list.respondent-nav-list {
  li {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;

    .favorite-respondent {
      margin-left: auto;

      &.favorited {
        color: gold;
      }
    }
  }
}

.respondent-summary-table-container {
  margin-bottom: 24px;
  padding-top: 12px;
}
.responses-summary-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;

  td, th {
    border: $light-border;
    padding: 6px;
    min-width: 64px;

    // Do we want this or what? How do we make the All Respondents table look presentable?
    white-space: nowrap;
    max-width: 64px;
    text-overflow: ellipsis;
    overflow: hidden;

    span {
      max-width: 80%;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      padding-top: 4px;
    }

    .mat-icon {
      float: right;
    }


    span, .mat-icon {
      vertical-align: middle;
    }
  }
  th {
    background: $light-gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    text-align: left;
  }
}

.respondent-summary-container {
  padding-bottom: 0;
  margin-bottom: 24px;
}

.respondent-container-header {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: $light-border;

  .respondent-identifier {
    display: flex;
    margin-bottom: 4px;
    align-items: baseline;
  }
}

.respondent-answer-outer {
  display: flex;
  flex-direction: column;
  margin: 16px 0;

  .respondent-question {
    opacity: 0.5;
    font-size: 90%;
    margin-bottom: 8px;
  }

  .respondent-answer {
    margin-bottom: 16px;
  }

  .scale-out-of-text {
    opacity: 0.5;
  }
}

// Reports
.results-summary-container {
  overflow-x: hidden;
}
.reports-list-outer {
  padding: 12px 24px;
  width: 75%; // What width should this be? What do we align with. Should the reports be boxes? What info do we put in the report summaries?
}
.create-report-sidebar {
  max-width: 320px;
  border-right: $light-border;
  background: $white;
}
.report-sidebar-question-text {
  // max-width: 170px;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.create-report-header {
  position: absolute;
  background: white;
  left: 0;
  right: 0;
  // top: 0;
  z-index: 2;
  margin-left: 376px;
  padding: 12px 24px;
  border-bottom: $light-border;
}

.sbc-question-outer.report-question-outer.selected + .sbc-question-outer {
  border-top: $light-border
}

.sbc-question-outer.report-question-outer {
  padding: 48px;
  background: $white;
  margin-bottom: 32px;
  border-bottom: $light-border;
  padding-bottom: 32px;


  .button-add-chart-container {
    width: 100%;
    text-align: center;
    margin-top: 24px;
  }
  .button-add-question {
    position: static;
    visibility: visible;
  }

  .report-element-outer {
    border: 1px dotted transparent;
    padding: 40px 0;
    position: relative;
    left: -16px;
    padding-left: 16px;
    border-radius: 4px;
    width: calc(100% + 32px);
    padding-right: 16px;
    margin-bottom: 8px;

    &:hover {
      border: $light-border;
      border-style: dotted;
    }

    table {
      margin-top: 0;
    }

  }

  &.selected {
    // padding-right: 80px;
    width: 100%;

    .report-element-outer {

      &.selected {
        border: $light-border;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: calc(100% + 98px);
        background: #fff;
        padding-right: 82px;

        &.no-select-hack {
          border: 1px dotted transparent;
          padding: 24px 0;
          position: relative;
          left: -16px;
          padding-left: 16px;
          border-radius: 4px;
          width: calc(100% + 32px);
          padding-right: 16px;

          &:hover {
            border: $light-border;
            border-style: dotted;
          }
        }



      }
    }

  }
}

.results-summary-container .sbc-question-header .sbc-question-icons {
  visibility: visible;
}

.results-summary-container .button-move-question.button-move-report-element {
  visibility: hidden;
  border-right-style: dotted;
}
.results-summary-container .report-element-outer:hover,
.sbc-question-outer.report-question-outer.selected .report-element-outer.selected {
  .button-move-question.button-move-report-element {
    visibility: visible;
  }
}
.report-element-outer {
  .report-element-menu-button {
    position: absolute;
    top: 0;
    right: 3px;
    visibility: hidden;
  }
}
.results-summary-container .report-element-outer:hover {
  .report-element-menu-button {
    visibility: visible;
  }
}

.sbc-question-outer.report-question-outer.selected .report-element-outer.selected {
  .report-element-menu-button {
    visibility: visible;
    right: 69px;
  }
}

.report-page-menu-button {
  right: -12px;
}

// .sbc-question-outer.report-question-outer:hover .button-add-question,
// // .sbc-question-outer.report-question-outer:hover:hover .sbc-question-icons,
// .sbc-question-outer.report-question-outer:hover:hover .button-move-question {
//   visibility: inherit;
//   background: peachpuff;
// }
