.settings-menu {
  background: $bg-color-settings-menu;
  padding: $settings-menu-padding;
  padding-bottom: 340px;
  font-size: $font-size-smaller;
  max-width: $settings-menu-width;

  &.settings-wider {
    max-width: $settings-menu-width-wider;
    position: relative;
    padding-bottom: 240px;
  }

  // Change height of inputs
  .mat-form-field-appearance-outline {
    .mat-form-field-outline {top: 0;}
    .mat-form-field-wrapper {padding: 0; margin: 0;}
    // input.mat-input-element {line-height: 1.35em;} // This was making the Text Input elements and Select elements different heights.
    .mat-form-field-flex {margin-top: 0;}
    .mat-form-field-infix {border: 0;padding: 10px 0;}
    .mat-select-arrow-wrapper {transform: none;}
  }

  .mat-form-field {
    max-width: 100%;
  }

  // Change BG Color of inputs
  .mat-form-field-appearance-outline .mat-form-field-outline-end,
  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    background-color: $gray-bg;
  }

  // Change order of toggles
  .mat-slide-toggle {
    display: flex;
    height: auto;

    .mat-slide-toggle-bar {
      order: 2;
      margin-left: auto;
    }

    .mat-slide-toggle-content {
      order: 1;
      white-space: normal;
    }

  }

}

.settings-group {
  margin-bottom: 48px;
}

// Individual Settings Items
.settings-menu-item-outer {

  .mat-form-field {
    width: 100%;
  }
  // &:hover {
  //   background: $light-gray;
  // }

  //
  //
  // padding-left: 12px;
  // padding-right: 12px;
  // border-radius: 4px;

  // Add border to elements
  &.settings-select {
    padding-bottom: 12px; // $settings-menu-item-padding;
  }
  &.settings-border-bottom {
    border-bottom: $light-border;
  }
  &.settings-inline-button {
    display: flex;
    align-items: center;

    button {
      line-height: 28px;
      min-width: 0;
      padding: 0 8px;
      margin: 8px 0;
      margin-left: auto;
      font-weight: 400;
      // margin-bottom: 4px;
    }
  }
  &.settings-inline-input {
    display: flex;
    align-items: center;

    .mat-form-field {
      min-width: 0;
      width: 68px;
      margin: 8px 0;
      margin-left: auto;
    }
  }
  &.settings-design-inline-select,
  &.settings-design-inline-input {
    padding-bottom: 8px;
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: $light-border;

    .mat-form-field {
      max-width: 164px;
      &.input-size-medium {
        max-width: 124px;
      }
      &.input-size-small {
        max-width: 64px;
      }
    }
  }

  &.expanded-border-bottom,
  .expanded-border-bottom {
    padding-bottom: 12px; // $settings-menu-item-padding;
    border-bottom: $light-border;
  }
  .answer-range {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .mat-form-field {
      width: 43%;
    }
  }

  .expand-expand {
    margin-top: 8px;
  }

  .full-flex-label {
    padding-top: 12px;
    display: flex;
    padding-bottom: 6px;
  }

  .mat-slide-toggle-content {
    line-height: 1.15;
  }

  // Toggles
  .mat-slide-toggle-label {
    border-bottom: $light-border;
    padding: $settings-menu-item-padding 0;

  }

  // Open Toggles
  &.toggle-menu-open,
  .toggle-menu-open {
    .mat-slide-toggle-label {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 6px;

      &:hover {
        background: inherit;
      }

    }
  }

  //
  &.inline-button-menu-open {
    border-bottom: none;
  }
  &.inline-select-menu-open {
    border-bottom: none;
  }

  .input-list-outer .mat-form-field {margin-bottom: 12px;}
  .input-list-outer.expanded-border-bottom .mat-form-field:last-child {margin-bottom: 0;}




  // .mat-select-outer {margin: 6px 0 12px;}
  // .mat-sub-select {margin-top: 0;}

  // border-bottom: $light-border;
  // border-color: purple;

  // &.inline-select {
  //   display: flex;
  //   align-items: center;
  //
  //   .mat-select-outer {
  //     max-width: 160px;
  //     margin-left: auto;
  //     margin-top: 12px;
  //   }
  //
  //   &.small-select {
  //     .mat-select-outer {
  //       max-width: 90px;
  //     }
  //   }
  // }

  // mat-label {
  //   display: inline-flex;
  //   &:first-child {
  //     padding-top: 12px;
  //
  //   }
  // }
  // &:first-child,
  // &.inline-select {
  //   mat-label:first-child {
  //     padding-top: 0;
  //   }
  // }
}

.mat-form-field.input-size-medium {
  max-width: 124px;
}
.mat-form-field.input-size-small {
  max-width: 64px;
}

.help-tooltip {
  height: auto;
  width: auto;
  font-size: 14px;
  margin-left: 6px;
  position: relative;
  top: 4px;
  opacity: 0.6;
  color: #444444;

  &:hover {
    opacity: 1;
  }
}


.settings-header {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #777;
}

//////////////////
// Design  >  Themes
//////////////////

.current-theme-title-outer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 4px;

  .current-theme-title {
    font-size: 16px;
  }

  button {
    margin-left: auto;
  }
}
.themes-list-current-theme-outer {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.theme-list-label-text {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #777;
  margin-bottom: 2px;
}

.theme-list-current-theme {
  overflow: hidden;
  text-overflow: ellipsis;
}

.customize-theme-button {
  display: flex;
  margin-left: auto;
}

.theme-list-outer {
  margin: 2%;
  margin-bottom: 196px;
}

.theme-outer {
  // border: $light-border;
  border-radius: 4px;
  // padding: 16px;
  width: 46%;
  display: flex;
  display: inline-flex;
  flex-direction: column;
  // margin-bottom: 24px;
  align-items: center;
  // height: 90px;
  overflow: hidden;
  box-shadow: 0 0 0 1px inset rgba(0,0,0,.14);
  background: $white;
  margin: 2%;
  cursor: pointer;

  &:hover {
    // background: $bg-color-question-hover;
    // box-shadow: 0 0 2px 2px rgba(0,0,0,.14);
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.14);
    .theme-footer {
      border: 1px solid #e1e1e1;
      border-top: none;
    }
  }

  &.selected {
    box-shadow: 0 0 0px 4px #3f51b5;
  }

  .theme-snapshot {
    padding: 16px 12px ;
    // margin: 4px;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 0 1px inset rgba(0,0,0,.14);
    width: 100%;

    .theme-snapshot-question {
      margin: 0;
      margin-bottom: 8px;
    }
    .theme-snapshot-answer {
      display: inline-flex;
      align-items: center;
    }
    .theme-snapshot-checkbox {
      margin-right: 8px;
      color: #fff;
      border-radius: 2px;
      width: auto;
      height: auto;
      font-size: 14px;
    }

  }
  .theme-footer {
    display: flex;
    align-items: center;
    padding: 4px 4px 4px 12px;
    // border-bottom: 1px solid #e1e1e1;
    border-radius: 0 0 4px 4px;
    width: 100%;
    border: 1px solid transparent;
    border-top: none;

    .theme-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    button {
      margin-left: auto;
    }
  }

}

.color-picker-select-outer {
  margin-left: auto;
  // margin-top: 12px;
  // margin-bottom: 12px;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 0 0 1px inset rgba(0,0,0,.14);
  overflow: hidden;
  border-radius: 4px;

  .color-picker-select-swatch {
    width: 35px;
    height: 35px;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 0 0 1px inset rgba(0,0,0,.14);
  }
}

//////////////////
// Design  >  Customize
//////////////////

.go-back-link {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  top: 0;
  left: -8px;
  opacity: 0.4;
  font-size: 14px;
  position: relative;
  .link-icon {
    font-size: 18px;
    width: auto;
    height: auto;
  }
}

//////////////////
// Fixed Top w/ Scrollable Bottom Content
//////////////////

.settings-menu-top {
  display: flex;
  align-items: center;
  font-size: 16px;
  //
  padding: 24px;
  background: $white;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;

  &.customize {
    flex-wrap: wrap;
    padding: 24px 16px 12px 24px;
  }
  &.ql-dialog {
    flex-direction: column;
    padding: 12px 16px 0 16px;
  }
  &.template-library {
    font-size: inherit;
    align-items: flex-start;
    padding: 16px 16px 8px;
    flex-direction: column;
  }

}
.settings-menu-bottom {
  margin-top: 84px;
  background: $light-gray;
  border-top: $light-border;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;

  &.customize {
    margin-top: 98px;
    padding: 24px;
    background: $white;
    padding-bottom: 240px;
  }

  &.ql-dialog {
    margin-top: 112px;
  }

  &.template-library {
    margin-top: 172px;
  }

}

.image-settings-flex-outer {
  display: flex;
  flex-direction: row;
  &.expanded-border-bottom {
    padding-bottom: 0;
  }
  .image-thumbnail {
    width: 30%;
    display: flex;
    background-size: cover;
    height: 64px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    &.image-logo-checkered-background {
      background-image:
        linear-gradient(45deg, #e2e1e0 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #e2e1e0 75%),
        linear-gradient(45deg, transparent 75%, #e2e1e0 75%),
        linear-gradient(45deg, #e2e1e0 25%, #fff 25%);

      background-size:10px 10px;

      background-position:0 0, 0 0, -5px -5px, 5px 5px;
    }
    .image-logo {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .image-settings {
    display: flex;
    flex-direction: column;
    width: 66%;
    margin-left: auto;
  }
}

.image-settings-flex-row {
  display: flex;
  align-items: center;
  border-top: $light-border;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: space-between;
}

.image-settings-row-opacity {
  border-top: $light-border;
  padding-top: 8px;
  padding-bottom: 0px;

  .opacity-label {
    position: relative;
    top: 8px;
  }
  .mat-slider {
    width: 100%;
  }
}

.image-thumbnail-inline {
  height: 31px;
  width: 48px;
  margin-left: 8px;
  border-radius: 4px;
  background-image: url(https://github.com/brettbradleycampbell/angular-innovate-prototype/blob/master/src/assets/images/yosemite.jpg?raw=true);
  background-size: cover;
  cursor: pointer;
}
