$logo-image-url: url(https://github.com/brettbradleycampbell/angular-innovate-prototype/blob/master/src/assets/images/amazon-logo-white.png?raw=true);

$survey-body-background-color: #232f3e;
$bg-filter-color: transparent;
$bg-filter-opacity: 0;

$survey-body-background-image-url: none;
$survey-body-background-size: cover;
$survey-text-color: #fff;

@mixin background-opacity($survey-text-color, $opacity: 0.3) {
    background: $survey-text-color; /* The Fallback */
    background: rgba($survey-text-color, $opacity);
}

@mixin color-opacity($survey-text-color, $opacity: 0.3) {
    color: $survey-text-color; /* The Fallback */
    color: rgba($survey-text-color, $opacity);
}

$selected-answer-background-color: #f0c14b;
$selected-answer-text-color: #232f3e;
$answer-element-background-color: rgba($survey-text-color, 0.08);
$answer-element-background-color-hover: rgba($survey-text-color, 0.2);
$question-text-font-size: 20px;
$answer-text-font-size: 16px;

$button-background-color: #06a463;
$button-text-color: #fff;

$answer-element-padding: 12px;
$answer-element-margin: 6px;
$answer-element-border-radius: 2px;
$logo-image-width: 85px;

//
// List of themes:
//
// Amazon
// Plants
// Sky
// Gold
// Innovate

$theme: 'Plants';

@if $theme == 'Amazon' {
  // Default settings above
}

@if $theme == 'Plants' {
  $survey-body-background-color: #3948ff;
  $survey-body-background-image-url: url(https://images.unsplash.com/photo-1453904300235-0f2f60b15b5d?ixlib=rb-1.2.1&auto=format&fit=crop&w=933&q=80);
  $logo-image-url: url(https://github.com/brettbradleycampbell/angular-innovate-prototype/blob/master/src/assets/images/innovate-logo-placeholder-black.png?raw=true);
  $logo-image-width: 120px;

  $survey-text-color: #000;
  $answer-element-background-color: rgba($survey-text-color, 0.08);
  $answer-element-background-color-hover: rgba($survey-text-color, 0.2);

  $selected-answer-background-color: #009688;
  $selected-answer-text-color: #fff;

  $button-background-color: #009688;
  $button-text-color: #fff;
}

@if $theme == 'Sky' {
  $survey-body-background-color: #3948ff;
  $survey-body-background-image-url: url(https://images.unsplash.com/photo-1548268770-66184a21657e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=582&q=80);
  $logo-image-url: url(https://github.com/brettbradleycampbell/angular-innovate-prototype/blob/master/src/assets/images/innovate-logo-placeholder.png?raw=true);
  $logo-image-width: 120px;

  $survey-text-color: #fff;
  $answer-element-background-color: rgba($survey-text-color, 0.08);
  $answer-element-background-color-hover: rgba($survey-text-color, 0.2);

  $selected-answer-background-color: #fff;
  $selected-answer-text-color: #00839d;

  $button-background-color: #000;
  $button-text-color: #eaeae6;
}

@if $theme == 'Gold' {
  $survey-body-background-color: #eaeae6;
  $logo-image-url: none;
  $logo-image-width: 120px;

  $survey-text-color: #222;
  $answer-element-background-color: rgba($survey-text-color, 0.08);
  $answer-element-background-color-hover: rgba($survey-text-color, 0.2);

  $selected-answer-background-color: #caa724;
  $selected-answer-text-color: #fff;

  $button-background-color: #000;
  $button-text-color: #eaeae6;
}

@if $theme == 'Innovate' {
  $survey-body-background-color: #fff;
  $logo-image-url: url(https://github.com/brettbradleycampbell/angular-innovate-prototype/blob/master/src/assets/images/innovate-logo.png?raw=true);
  $logo-image-width: 120px;

  $survey-text-color: #000;
  $answer-element-background-color: rgba($survey-text-color, 0.08);
  $answer-element-background-color-hover: rgba($survey-text-color, 0.2);

  $selected-answer-background-color: #548ade;
  $selected-answer-text-color: #fff;

  $button-background-color: #06a463;
  $button-text-color: #fff;
}




.survey-body-hack {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $survey-body-background-color;
  background-image: $survey-body-background-image-url;
  background-size: $survey-body-background-size;
  z-index: -2;
}

.bg-filter {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba($bg-filter-color, $bg-filter-opacity);
  z-index: -1;
}

.logo-container {

  margin: 24px 0 48px 0;

  .logo-image {
    height: 100px;
    width: $logo-image-width;
    background-image: $logo-image-url;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.question-text h2 {
  font-weight: 400;
  font-size: $question-text-font-size;
}
// Centered
.survey-content.center-aligned {
  text-align: center;

  .answer-options {
    margin: 0 auto;
  }
}

.question-outer {
  margin-bottom: 64px;
}

// Survey content
.survey-content {
  color: $survey-text-color;
  //
  max-width: 900px;
  margin: 0 auto 320px auto;
  padding: 0 24px;
}
ul.answer-options {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 320px;
}

.answer {
  .mat-checkbox-inner-container {
    margin-left: 0;
  }
}

.mat-checkbox-layout .mat-checkbox-label {
  line-height: inherit; // was set to 24px for some reason.
}


.answer .mat-radio-button {
  display: flex;

  .mat-radio-label-content {
    padding-left: 0;
  }
}

.answer .mat-checkbox,
.answer .mat-radio-button {

  .mat-checkbox-inner-container,
  .mat-radio-container {
    display: none;
  }

  label {
    display: flex;
    font-size: $answer-text-font-size;
    padding: $answer-element-padding;
    background: $answer-element-background-color;
    border-radius: $answer-element-border-radius;
    margin-bottom: $answer-element-margin;
    cursor: pointer;
    transition: background 200ms ease-in-out, color 200ms ease-in-out;

    &:hover {
      background: $answer-element-background-color-hover;
    }
  }

  &.mat-checkbox-checked,
  &.mat-radio-checked {
    label {
      background: $selected-answer-background-color;
      color: $selected-answer-text-color;
    }
  }

}





// Rank
.answer.answer-rank {
  padding: $answer-element-padding;
  background: $answer-element-background-color;
  border-radius: $answer-element-border-radius;
  margin-bottom: $answer-element-margin;
  display: flex;
  align-items: center;
  cursor: move;

  .rank-drag-icon {
    margin-right: 8px;
    opacity: 0.5;
    font-size: 1em;
    height: 1em;
    width: 1em;
  }
}

.cdk-drop-list-dragging {
  cursor: move;
}

.cdk-drag-preview {
  list-style: none;
  background: rgba(255,255,255,.3);
  color: $survey-text-color;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .answer:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// Select / Dropdown
.mat-select-value {
  color: $survey-text-color;
}
.mat-select-arrow {
  @include color-opacity($survey-text-color, 0.54);
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  @include background-opacity($survey-text-color, 0.42);
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $selected-answer-background-color;
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $selected-answer-background-color;
}

// Text Entry
.mat-input-element {
  caret-color: $selected-answer-background-color;
}
.answer-text-entry .mat-form-field {
  width: 100%;
  max-width: 400px;
}

// Button
.button-container {
  text-align: right;
}
button.mat-flat-button {
  background: $button-background-color;
  color: $button-text-color;
  font-size: $answer-text-font-size;
}
