// Material Theme Variables
$theme-primary-color: #3f51b5;

// New Colors
$white: #fff;
$black: #2b2b2b;
$light-gray: #f7f6f5;
$gray-bg: #f2f1f0; // #f4f4f4; // #f0f0f0; // #f2f1f0;
$gray-bg-lighter: #f9f8f7; // #faf9f8;
$gray-button-bg: darken($gray-bg, 6%); // #e2e2e2; // #e2e0de;
$body-text-color: $black;
// $background-color-survey-builder-container: $gray-bg;
$bg-color-content: $light-gray;
$bg-color-settings-menu: $white;
$bg-color-question: $light-gray;
$bg-color-question-selected: $bg-color-settings-menu;
$bg-color-question-hover: $white; //#f2f1f0; // #f2f1f0; // $white;
$bg-color-question-group: $light-gray;
$bg-color-question-group-header: transparent;
$question-number-background-color: #eaeae9;
$question-number-text-color: $body-text-color;
$bg-color-question-number-selected: #dee3fb; //$mdc-theme-primary; //#dee3fb; // #8BC34A;
$question-number-text-color-selected: $theme-primary-color;
$bg-color-header-row-one: $white;
$background-color-header-row-two: $white;
$text-on-header-top: #9da4ab;
$breadcrumb-current-color: $body-text-color;
$breadcrumb-color-hover: $body-text-color;

// Borders
$light-border: 1px solid #d9d8d7;
$hr-border: 1px solid darken($gray-bg, 7%);
$header-row-one-border: $light-border;

// Fonts
$font-size-smaller: 0.875rem;

// Margins and Paddings
$question-group-margin: 32px; // 28px;
$settings-menu-padding: 24px;
$settings-menu-item-padding: 16px;

// Layout widths
$header-row-one-height: 56px; // 36px // 48px is default for dense header
$header-row-two-height: 56px; // 56px
$header-height: $header-row-one-height + $header-row-two-height;
$settings-menu-width: 240px;
$settings-menu-width-wider: 360px;
$survey-preview-width: 400px;

// Paddings, Margins, etc.
$global-padding: 4px;
$global-padding-large: 24px;
$global-margin: 4px;
$global-margin-large: 24px;
$global-border-radius: 4px;
