<!-- Create - Settings -->
<div class="create-wrapper sbc-columns-wrapper">
  <div class="sbc-column settings-menu settings-wider" id="sbc-settings">

    <div class="settings-menu-item-outer settings-select settings-border-bottom">
      <mat-label class="full-flex-label">Survey title</mat-label>
      <mat-form-field appearance="outline" class="mat-select-outer">
        <input matInput placeholder="" value="Customer Feedback Survey 1">
      </mat-form-field>
    </div>
    <div class="settings-menu-item-outer settings-select settings-border-bottom">
      <mat-label class="full-flex-label">Meta description</mat-label>
      <mat-form-field appearance="outline" class="mat-select-outer">
        <textarea matInput matTextareaAutosize matAutosizeMinRows=4 placeholder="Textarea"></textarea>
      </mat-form-field>
    </div>
    <mat-slide-toggle class="settings-menu-item-outer">
      <span>Hide survey from search engines</span>
      <!-- <mat-icon class="help-tooltip" matTooltipPosition="above" matTooltip="Prevent indexing">help</mat-icon> -->
    </mat-slide-toggle>
    <div class="settings-menu-item-outer settings-select settings-border-bottom">
      <mat-label class="full-flex-label">Custom Survey URL</mat-label>
      <mat-form-field appearance="outline" class="mat-select-outer">
        <input matInput placeholder="https://" value="">
      </mat-form-field>
    </div>
    <div class="settings-menu-item-outer settings-design-inline-select" [ngClass]="{'inline-select-menu-open': completionMessageSelect === 'custom' || completionMessageSelect === 'url'}">
      <mat-label>Survey completion</mat-label>
      <mat-form-field appearance="outline" class="mat-select-outer">
        <mat-select [(ngModel)]="completionMessageSelect">
          <mat-option value="default">Default message</mat-option>
          <mat-option value="custom">Custom message</mat-option>
          <mat-option value="url">URL Redirect</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="settings-menu-item-outer settings-select settings-border-bottom" *ngIf="completionMessageSelect === 'custom'" >
      <!-- <mat-label class="full-flex-label">Message</mat-label> -->
      <mat-form-field appearance="outline" class="">
        <textarea matInput matTextareaAutosize matAutosizeMinRows=4 placeholder="Thank you..."></textarea>
      </mat-form-field>
    </div>
    <div class="settings-menu-item-outer settings-select settings-border-bottom" *ngIf="completionMessageSelect === 'url'">
      <!-- <mat-label class="full-flex-label">URL</mat-label> -->
      <mat-form-field appearance="outline" class="">
        <input matInput placeholder="https://" value="">
      </mat-form-field>
    </div>
    <div class="settings-menu-item-outer settings-design-inline-select" [ngClass]="{'inline-select-menu-open': terminationMessageSelect === 'custom' || terminationMessageSelect === 'url'}">
      <mat-label>Survey termination</mat-label>
      <mat-form-field appearance="outline" class="mat-select-outer">
        <mat-select [(ngModel)]="terminationMessageSelect">
          <mat-option value="default">Default message</mat-option>
          <mat-option value="custom">Custom message</mat-option>
          <mat-option value="url">URL Redirect</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="settings-menu-item-outer settings-select settings-border-bottom" *ngIf="terminationMessageSelect === 'custom'">
      <mat-form-field appearance="outline" class="">
        <textarea matInput matTextareaAutosize matAutosizeMinRows=4 placeholder="Custom survey termination message"></textarea>
      </mat-form-field>
    </div>
    <div class="settings-menu-item-outer settings-select settings-border-bottom" *ngIf="terminationMessageSelect === 'url'">
      <mat-form-field appearance="outline" class="">
        <input matInput placeholder="https://" value="">
      </mat-form-field>
    </div>
    <mat-slide-toggle class="settings-menu-item-outer">Terminate duplicate respondents based on cookies</mat-slide-toggle>
    <mat-slide-toggle class="settings-menu-item-outer">Terminate duplicate respondents based on digital fingerprint</mat-slide-toggle>
    <div class="settings-menu-item-outer" [ngClass]="{'toggle-menu-open': countriesToggle}">
      <mat-slide-toggle [(ngModel)]="countriesToggle">Only allow respondents from selected countries</mat-slide-toggle>
      <mat-form-field appearance="outline" class="expanded-border-bottom" *ngIf="countriesToggle">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let fruit of fruits"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(fruit)">
            {{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder=""
            #fruitInput
            [formControl]="fruitCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
            {{fruit}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <mat-slide-toggle class="settings-menu-item-outer">Save as default settings</mat-slide-toggle>
  </div>

  <div class="sbc-column" id="sbc-preview">
    <span style="padding: 8px; display: block;">Survey preview</span>
  </div>
</div>
